@import "lg";
@import "sm";
@import "xs";
*{
	// outline: 1px solid #f00;

	
}
// $bgc1:#FFF5CD;
$bgc1:rgba(230, 230, 200, 0.9);
$bgimg:transparent url('../images/book-step-bg.jpg') left top no-repeat;
$cookieColor:#A76C40;
$b-black:#222;
$step-info:#FF5553;




#bookbody{
		
}
.book{
	.disNoneInput{display: none;}
	input{
			display: block;
			background-color: $bgc;
			border-radius: $border-radius;
			padding: 5px 10px;
			width: 170px;

		}
	#petNameInput{
		margin-bottom: 10px;
	}
	.reset{
		font-size: $fz-mincontent;
	}
	.inputBtn {
/*     margin: 10px auto;
	    width: 80%; */
	    padding: 6px 12px;
	    height: auto;
	    // font-size: $fz-content;
	    border: solid transparent;
	    border-radius: 5px;
	    background: #f34e1b;
	    background: linear-gradient(to bottom, rgba(243, 78, 27, 1.0) 0, rgba(230, 50, 10, 1.0) 100%);
	    color: #fff;
	    cursor: pointer;
	    letter-spacing: 2px;
	    transition:.4s;
	    &:hover {
	        background: hsla(14, 90%, 45%, 1);
	        background: linear-gradient(to bottom, rgba(240, 60, 20, 1.0) 0, rgba(210, 50, 10, 1.0) 100%);
	    }
	}
	.btnLink{
	    font-size: $fz-content;
	    font-weight: 900;
	    text-align: center;
	    display: inline-block;
	    padding: 6px 12px;
	    cursor: pointer;
	    border: 2px solid #f4511e;
	    border-radius: 5px;
	    color: #f4511e;
	    letter-spacing: 2px;
	    transition: all 0.4s;
	    &:hover {
	        background-color: #f4511e;
	        color: #fff;
	    }
	}
	// background-color: $bgc;
	.mypet{
		display: none;
		padding-left: 20px;
		padding-bottom:10px;
		select,option{
			padding: 5px 10px;
		}  
	}
	color:#111;
	overflow-x: hidden;
	width: 100%;
	background:transparent url('../images/bg02.png') left top repeat;
	.img-weight-auto{height: 100%;width: auto;}
	nav{top: 0;z-index: 22;}
	.btnScale{
			animation:imgScaleaa .5s ease both;
	}
	@keyframes btnScaleaa{
		0%{transform:scale(0.7);}
		100%{transform:scale(1);}
	}

	.imgScale{
		animation:imgScaleaa .5s ease both;
	}
	@keyframes imgScaleaa{
		0%{transform:scale(0.7);}
		100%{transform:scale(1);}
	}
	.color-red{color:$b-red;}

	.footprint{
		transition:.3s;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0;

	}
	.footprint-add{
		animation:footAdd1 1s 0s ease both;

	}
	@keyframes footAdd1{
		0%{opacity: 0;}
		75%{opacity: .8;}
		100%{width: 30px;
			height: 30px;
			top: -10px;
			right: -10px;
			opacity: .8;
		}
	}
	.add-service{
		animation:Addser 1s 0s ease both;
	}
	@keyframes Addser{
		0%{transform:translateY(0vmin)};
		100%{transform:translateY(40vmin)};
	}
	.roompic-select{
		background-color: $orange;
		// color:#ddd;
	}
	.pet-boy{
		transform:rotate(-180deg);
	}
	.footicon{
		vertical-align: sub;
		width: 40px;
		margin-right: 10px;
		transform:rotate(-15deg);
	}
	.step-info{
			padding: 10px 20px;
			h2{
				display: inline-block;
				color: $light-gray;
				letter-spacing: 0.3em;
			}
		
		}
	.step-info-p{
		padding: 10px 20px;
			p{
				display: inline-block;
				color:$step-info;
				font-size: $fz-content;
				opacity: 0;
				transition:.3s;
			}
	}
	
	.shadow{box-shadow:5px 5px 8px #cac5a0;}
	#bookSection1,#bookSection2,#bookSection3,#bookSection5,#bookSection6,
	#bookSection7{
		z-index: 1;
	}
		h4{	
			span{
				font-size: $fz-h3;
				color:$b-red;
				font-weight: bold;
			}
		}
		p{	
			line-height: 2em;
			span{
				font-size: 20px;
				color:$sup-orange;
				font-weight: bold;
			}
		}

		//燈箱
		.lightbox{
			position: relative;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 30;
			margin: auto;
			width: 100%;
			height: 100vh;
			background-color: rgba(0,0,0,.75);
			display: none;
			
			.lightbox-box{
				transform:translate(-50% ,-50%);
				position: fixed;
				top: 50%;
				left: 50%;
				// margin: 35px auto;
				width: 0px;
				height: 0px;		
				// border: 1px solid $brown;
				background: $bgc;
				padding: 5px 10px;
				transition:1s;
				border-radius: 50%;
				position: relative;
				box-shadow: 5px 5px 50px $light-gray;
				.lb-mom-pic{
					padding-top: 5px;
				}
				.lb-service-pic{
					padding-top: 5px;
				}
				.lightbox-content{					
					// padding-top:10px;
					h4{padding: 5px 0}
					p{	
						padding: 3px 0;
						line-height: 2em;
						span{
							color:$b-red;
						}
					}
					img{border-radius: $border-radius;}
					display: none;
					.closeLightBox{
						line-height: 20px;
						text-align: center;
						position: absolute;
						top: -10px;
						right: -10px;
						width: 33px;
						height:33px;
						background: rgba(0,0,0,.7);
						border-radius: 50%;
						transition:.3s;
						border:2px solid #ddd;
						
						
						
						.fa-plus{
							position: relative;
							left: 3px;
							top: -2px;
							padding-top: 10px;
							font-size: 20px;
							color: #fff;
							cursor: pointer;
							transform:rotate(45deg);
						}
					}
				}
			}


		}
		//燈箱
		.selecting-info{
			padding: 10px 0;
			text-align: center;
		}

		// stepDiy
		.stepDiy{

			position: fixed;
			z-index: 20;
			
			font-size: 0;

			ul{
				height: 52px;
				li{	

					&:first-child .step-bar span{
						background: $sup-orange;
					}
					&:first-child .step-num a{
						background: $sup-orange;
					}
					width: 16.66666%;
					display: inline-block;
					font-size: 16px;
					position: relative;
					display: none;
					.step-text{
						position: absolute;
						transform:scale(1);			
					}
					.step-bar{
						width: 70%;
						float: left;						
						span{
							position: relative;
							left:5px;
							width: 105%;
							height: 15px;
							display:block;
							background: #ccc;
							border-radius: $border-radius;
							transition:.3s;
							box-shadow:  0px 0px 5px #321;
						}
						.didStepBgc{
							animation: barGrown 1s ease 0s both;
						}
						@keyframes barGrown{
							0%{ background-color: #ccc; width: 0;transform:scale(1); }
							90%{ background-color: $sup-orange; width: 95%; transform:scale(1.2); }
							100%{ background-color: $sup-orange; width: 100%;transform:scale(1); }
						}
					}
					.step-num{
						position: relative;
						z-index: 1;
						float: left;
						width: 30%;
						transition:.3s;					
						a{
							transition:.3s;
							padding: 10px 18px;
							background: #ccc;
							border-radius: 50%;
							text-align: center;
							line-height: 50px;
							// border: 3px solid #ccc;
							border-style: solid;
							border-color:#ccc;
							border-width:3px;
							color:$white;
							font-weight: bold;
							box-shadow: 0px 0px 3px $brown;
 						}
						.didStepCircle{
							animation: circleColoring 1s ease 1s both;
						}
						@keyframes circleColoring{
							0%{ background-color: #ccc; }
							100%{ background-color: $deep-orange; }
						}
						.nowStepColor{
							animation: borderColoring 1s ease 1s both;
						}
						@keyframes borderColoring{
							0%{ border-color: #fff; }
							100%{ border-color: $b-red; }
						}
						
					}
					&:after{
						content: '';
						display: block;
						width: 0;
						clear: both;
					}
				}
			}
		}
		// stepDiy
	
	.sexclick{
		cursor: pointer;
	}
	.b-sex{
		margin-right: 20px;
		
		svg{
			width: 60px;
			height: 60px;
			padding: 5px;
			transition:.3s;
			opacity: .5;
			border-radius:$border-radius;
			border: 3px solid rgba(0,0,0,0);
		}
	}
	a{color: $b-black;}
	#mobile-step{
		position: fixed;
		z-index: 203;
		top: 70px;
		left: 5px;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: rgba(119, 71, 32, .6);
		color: #fff;
		text-align: center;
		line-height: 50px;
		cursor: pointer;
		box-shadow: 3px 3px 10px #ccc;
		span{
			font-size: 20px;
			
		}
		.leftUpUp{
			animation: UpUpLeft .5s ease 0s both;
		}
		.rightUpUp{
			animation: UpUpRight .5s ease 0s both;
		}
		#UpLeft{
			position: absolute;
			width: 25px;
			height: 3px;
			left: 12px;
			bottom: 20px;
			background-color: #ccc;
			transition:.3s;
			transform:rotate(30deg);
			

		}
		#UpRight{
			position: absolute;
			width: 25px;
			height: 3px;
			right: 12px;
			bottom: 20px;
			background-color: #ccc;
			transition:.3s;
			transform:rotate(-30deg);
			
		}

		@keyframes UpUpLeft{
			0%{ transform:rotate(30deg); }
			100%{ transform:rotate(-30deg); }
		}
		@keyframes UpUpRight{
			0%{ transform:rotate(-30deg); }
			100%{ transform:rotate(30deg); }
		}
	}
	// #mobile-steps{
	// 		position: fixed;
	// 		z-index: 101;
	// 		top: 200px;
	// 		left: -400px;
	// 		padding: 2%;
	// 		font-size: 0;

	// 		li{	
	// 			display:block;
	// 		}
	// 		a{	
	// 			border-bottom: 5px solid $deep-gray;
	// 			font-size:$fz-content;
	// 			color:#fff;
	// 			display: block;
	// 			background-color: $light-gray;
	// 			padding: 20px 10px;
	// 			&:hover{
	// 				background-color: rgba(255,255,255,.8);
	// 				color:#333;	
	// 				border-bottom: 5px solid $brown;
	// 			}
	// 		}
	// }
	//下一步
	.next{
		width: 100%;
		padding: 10px 0 20px 0;
		
		a{
			// border:1px solid $deep-orange;
			// border-radius: $border-radius;
			// color:$deep-orange;
			// display: inline-block;
			// padding: 5px 10px;
			// transition: .3s;

		}
	}
	//三個尺寸共用的寫在這

	.step{
		position: relative;
		box-shadow:  0px 0px 10px #333;
		// overflow: hidden;
		background: $bgimg;
		min-height: 100vh;
		width: 100%;
		
		.steps{
			padding: 2%;
			font-size: 0;
			li{	
				display: inline-block;
			}
			a{	
				border-bottom: 5px solid $light-gray;
				// font-size: $fz-content;
				display: block;
				// background-color: $light-gray;
				padding: 5px 5px;
				&:hover{
					background: rgba(255,255,255,.7);
				}
			}
			
		}
		.bg{
			border-radius: $border-radius;
			position: relative;
			// background-color: rgba(233,233,2,1);
			// background-color: rgba(249, 247, 232, .8);
			box-shadow: 3px 3px 25px #bbb;
			background: $bgc1;
			// background-color: rgba(255, 168, 0, 0.2);
		}

	}
	.step_dateRoom{
		
		// background:transparent url('../images/b-step1-bg.jpg') left top no-repeat;
		// background:transparent url('../images/b-step1.jpg') left top no-repeat;
		background-image: cover;
		.dateRoom{
			padding: 10px 20px;
		}
		#mobileDate{
			span{
				color: $sup-orange;
			}
		}
		.steps{
			li:first-child a{
				background-color:$deep-orange;
				border-bottom: 5px solid $brown;
				color: #fff;
			}

		}
		.dateResult{
			div{
				padding: 10px 5px;
				span{
					font-size: 20px;
					color: $b-red;
					font-weight: bold;
				}
			}
		}			
		.b-select-date{
			&:after{
				content: '';
				display: block;
				width: 0;
				clear: both;
			}
			.year{
				font-size: 30px;
				font-weight: 600;
			}
			.month{
				font-size: 40px;
				font-weight: 600;
			}
			.momth,.after,.before{

			}
			.select-month{
				position: relative;

				.after{
					border-left: 20px solid #666;
					border-top: 20px solid transparent;
					border-bottom: 20px solid transparent;
					border-right: 20px solid transparent;
					position: absolute;
					top:10px;
					right: 0;
					cursor: pointer;
					transition:.3s;
					
					&:hover{
						transform:translateX(3px);
					}
					
				}
				.before{
					border-right: 20px solid #666;
	    			border-top: 20px solid transparent;
	   				border-bottom: 20px solid transparent;
	    			border-left: 20px solid transparent;
	    			position: absolute;
	    			top: 10px;
	    			left:0;
	    			cursor: pointer;
	    			transition:.3s;
	    			
	    			&:hover{
						transform:translateX(-3px);
					}
				}
			}
			.days{
				padding-right: 10px;
				#table{
					width: 100%;
					font-size: 0;
					.dayBox{
						width: 14.285%;
						// height: 50px;
						font-size: 20px;
						text-align: center;
						float: left;					

					}
					.day{
						border-radius: 50%;
						width: 100%;
						transition:.2s;
						height: 0;
						padding-bottom: 100%;	
						
					}
					.dayPointer{
						cursor: pointer;
					}
					.daycant{
						opacity: .5;
					}
				}
				#table:after,.weekend:after{
					content: '';
					display: block;
					clear: both;	
				}
				.week{
					float: left;
					font-size: 0;
					width: 14.285%;
					text-align: center;
					height: 50px;
					line-height: 50px;
				}
				.weekday{
					font-size: $fz-content;
					color:$deep-orange;
					font-weight: bold;
				}
				.weekend{
					width: 100%;
				}		
			}		
		}
	}
	#dateRoomChange{
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		position: absolute;
		width: 0;
		height: 0;
		transition:.5s;
		z-index: -1;
	}
	.b-select-room{
		position: relative;
		.b-select-roomStyle{
			overflow: hidden;
			&:after{
				content:'';
				width: 0;
				display: block;
				clear: both;
			}
		}		
		.roomStyle{	
			.styleBox{
				position: relative;
			}
		}
		.styles{
			border: 2px dashed $sup-orange;
			border-radius:$border-radius;
			cursor: pointer;
			transition:.2s;
			margin: auto;
			position: relative;
			transition:.3s;

			width: 80px;
			height: 50px;
			line-height: 50px;
			&:hover{
				font-weight: bold;
				background-color: $orange;
				color: #fff;
			}

		}
	}
	.roomPic{
		font-size: 0;
		.pic-main{
			img{
				width: 100%;
				border-radius: $border-radius;
				border: 3px solid $sup-orange;
				border-style: solid;
				border-width: 2px;
				border-color: $sup-orange;

			}		
		}
		.big{
			padding: 5px 10px;
			img{
				border-color: $b-red;
			}
		}
		.pic-small{
			.small:first-child img{
				border-color: $b-red;
			}
			.small{
				float: left;
				width: 33.333%;
				padding: 5px 10px;
			}
			&:after{
				content: '';
				display: block;
				width: 0;
				clear: both;
			}	
			img{
				cursor: pointer;
				width: 100%;
			}
		}
	}
	.step_dog{
		.again{
			cursor:pointer;
			font-size: $fz-mincontent;
			font-weight: normal;
		}

		.again-p{
			padding-left: 20px;
			padding-bottom: 10px;
		}
		
		h4{padding: 10px 20px;}
		.dogbgc{
			padding: 0 5px;
		}
		.mtop{
			margin-top: 50px;
		}
		.select-dog{
			position: relative;
			z-index: 1;
			.dogKind-img{
				border-radius: $border-radius;
				border: 3px solid $orange;
			}
			
			
		}
		.pd{
			padding: 0 20px;
		}
		.dogdog{
			.backColor {display: none;}

		}
		.backColor{
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background:  rgba(244, 166, 111, .3);
		}
		
		
	
		
		// background:transparent url('../images/b-step2-bg.jpg') left top no-repeat;
		// background:transparent url('../images/b-step2.jpg') left top no-repeat;
		background-image: cover;
		.steps{
			li:nth-child(2) a{
				border-bottom: 5px solid $brown;
				background-color:$deep-orange;
				color: #fff;
			}
		}
		.dog-kindbg{
			position: relative;
			z-index: 1;
			padding:0 10px;
		}
		.dog-kind{
			text-align: center;
			padding: 10px 0;
			
			&:after{
				content: '';
				clear: both;
				display: block;
				width: 0;
			}
			.kinds{
				span{
					display: block;
					padding: 10px 5px;
					border-radius: $border-radius;
					border: 2px dashed $sup-orange;
					text-align: center;
					cursor: pointer;
					transition:.3s;
					font-size: $fz-content;
					&:hover{
						background: $orange;
						color: #fff;
						font-weight: bold;
					}
				}
				
			}
			
		}
		.dogs{
			#dogsUl{
				padding: 0 10px;
				.dogk{
					position: relative;
					cursor: pointer;
					text-align: center;
					padding: 5px;
					opacity: .5;
					transition:.5s;
					p,span{font-size: 14px;}

					
					.footprint{
						transition:.3s;
						position: absolute;
						z-index: 1;
						top: 0;
						right: 0;
						width: 100%;
						height: 100%;
						opacity: 0;
					}
					.footprint-add{
						animation:footAdd 1s 0s ease both;
						
					}
					@keyframes footAdd{
						0%{opacity: 0;}
						75%{opacity: 1;}
						100%{width: 40%;
							top: -10px;
							right: -10px;
							opacity: 1;
						}
					}
					.img-box{
						transition:.5s;
						img{
							border-radius: $border-radius;
							width: 100%;
							border: 3px solid $orange;
						}
						
					}
				}

			} 
		}
	}
	
	.dog-info{
		position: relative;
		.addLess{
			margin:0 5px;
		}
		.fa{
			font-size: 40px;
			color:$orange;
		}
		
		.less{
			float: left;
			// border-left: 20px solid #666;
			// border-top: 20px solid transparent;
			// border-bottom: 20px solid transparent;
			// border-right: 20px solid transparent;
			cursor: pointer;
			transition:.3s;
			// &:hover{
			// 	transform:translateX(3px);
			// }
					
		}
		.add{
			float: left;
			// border-right: 20px solid #666;
	  //   	border-top: 20px solid transparent;
	  //  		border-bottom: 20px solid transparent;
	  //   	border-left: 20px solid transparent;
	    	cursor: pointer;
	    	transition:.3s;
	  //   	&:hover{
			// 	transform:translateX(-3px);
			// }
		}
		p{
			padding: 10px;
		}
		.pet-age{
			position: relative;

			padding-bottom:20px; 
			&:after{
				content: '';
				display: block;
				clear: both;
				width: 0;
			}
			.year{
				float: left;
				width: 15%;
				height: 40px;
				margin: 0px 10px;
				border: 1px solid #666;
				.b-select-year{
					display: inline-block;
					line-height: 40px;
					padding: 0 5px;
				}
			}
			.month{
				float: left;
				width: 15%;
				height: 40px;
				margin: 0 5px;
				border: 1px solid #666;
				.b-select-month{
					display: inline-block;
					line-height: 40px;
					padding: 0 5px;
				}
			}


		}
		.pet-weight{
			position: relative;
			&:after{
				content: '';
				display: block;
				clear: both;
				width: 0;
			}
			.weight{
				float: left;
				width: 20%;
				height: 40px;
				margin: 0 5px;
				border: 1px solid #666;
				.b-select-weight{
					display: inline-block;
					line-height: 40px;
					padding: 0 5px;
				}
			}
			
		}
	}
	.step_mom{
		// background:transparent url('../images/b-step3-bg.png') left top no-repeat;
		.b-mom{
			display: none;
		}
		.circleNoWork{
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 12;
			// background: #ccc;
			top: -50px;
			display: none;
		}
		background-image: cover;
		.p-l{
			padding-left:20px;
		}
		.identityInfo{
			padding: 15px 10px;

		}
		.steps{
			li:nth-child(3) a{
				border-bottom: 5px solid $brown;
				background-color:$deep-orange;
				color: #fff;
			}		
		}
		.boxmargin{
			width: 100%;
			text-align: center;
			margin-top: 50px;
			position: relative;
		}

		.mompic{
			overflow: hidden;
			padding-left: 40px;
			padding-right: 40px;
			transition:.3s;
			position: relative;
			

			.momcover{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 0%;
				z-index: 1;
				opacity: 0;
				border-radius: 15px;
				background:transparent url('../images/bg02.png') left top repeat;
			}
			.momcover-move{
				animation:covermove 1s 0s  ease  both;
			}
			@keyframes covermove{
				0%{height: 0%;opacity: .8}

				50%{height: 100%;opacity: 1}
				100%{height: 0%;opacity: 0}
			}
			h4:first-child{
				// padding-left: 10px;
			}
			p{
				padding: 5px 0;
			}
			img{
				border-radius: $border-radius;
				border: 3px solid $orange;
			}
		}
		.mom-info{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.step_service{
		.bg{overflow: hidden;}
		position: relative;
		
		// background:transparent url('../images/b-step4-bg.jpg') left top no-repeat;
		// background:transparent url('../images/b-step4.jpg') left top no-repeat;
		// background-image: cover;

		h4{
			position: relative;
			z-index: 6;
			padding: 10px 0;
			padding-left: 20px;
		}
		
		
			
			.husky-box{
				position: relative;
				z-index: 1;
				$color-bg: #4F8EDB;
				$color-primary: rgba(#30508F, 0.3);
				$color-primary: #30508F;
				$color-white: rgba(white, 0.3);
				$color-white: white;

				$color-light: #9EB6D7;
				$color-lighter: #C8DAF2;
				$color-dark: #343C60;

				$color-ear: #DE6465;
				$color-tongue: $color-ear;

				$duration: 12s;
				$total-kf: 15;

				$k-head: (
				  0: rotate(0),
				  1: rotate(0),
				  3: rotate(-14deg),
				  6: rotate(-7deg),
				  7: rotate(-14deg),
				  9: rotate(-7deg),
				  11: rotate(0),
				  12: rotate(0)
				);

				$k-mouth: (
				  0: translateX(0),
				  1: translateX(0),
				  2: translateX(35%),
				  3: translateX(35%),
				  4: translateX(35%),
				  5: translateX(0) translateY(-5%)
				);

				$k-nose: (
				  0: translate(0),
				  1: translate(0),
				  2: translateX(100%),
				  4: translateX(100%),
				  5: translateX(0) translateY(-15%)
				);

				$k-body: (
				  0: translate(0),
				  1: translateY(3%),
				  2: translate(0),
				  3: translate(0),
				  4: translateY(2%),
				  5: translateY(0),
				);

				$k-mane: map-merge($k-body, (
				  1: translateY(5%),
				  4: translateY(3%)
				));

				$k-face: (
				  0: translate(0),
				  1: translate(0),
				  2: translateX(15%),
				  3: translateX(15%) translateY(0),
				  4: translateX(15%) translateY(0),
				  5: translateX(0) translateY(-15%),
				  6: translateX(0) translateY(-15%),
				  7: translateX(0) translateY(0),
				);

				$k-left-eye: (
				  0.4: scaleY(1),
				  0.5: scaleY(0.3),
				  0.6: scaleY(1),
				  1: translateX(0),
				  1.4: scaleY(1) translateX(75%),
				  1.5: scaleY(0.3) translateX(75%),
				  1.6: scaleY(1) translateX(75%),
				  2: translateX(150%),
				  3.3: scaleY(1) translateX(150%),
				  3.4: scaleY(0.3) translateX(150%),
				  3.5: scaleY(1) translateX(150%),
				  3.8: scaleY(1) translateX(150%),
				  3.9: scaleY(0.3) translateX(150%),
				  4.0: scaleY(1) translateX(150%),
				  5: translateX(0) translateY(-170%),
				  5.4: scaleY(1) translateY(-170%),
				  5.5: scaleY(0.3) translateY(-170%),
				  5.6: scaleY(1) translateY(-170%),
				  5.7: scaleY(1) translateY(-170%),
				  5.8: scaleY(0.3) translateY(-170%),
				  5.9: scaleY(1) translateY(-170%),
				  8: translateY(0),
				  9.8: scaleY(1) translateY(0),
				  9.9: scaleY(0.3) translateY(0),
				  10.0: scaleY(1) translateY(0),
				  10.5: scaleY(1) translateY(0),
				  10.6: scaleY(0.3) translateY(0),
				  10.7: scaleY(1) translateY(0),
				);

				$k-right-eye: $k-left-eye;

				$k-tongue: (
				  7: translateY(0),
				  8: translateY(100%) rotate(10deg),
				  11: translateY(100%) rotate(10deg),
				  12: translateY(0)
				);

				$k-mouth-cover-left: (
				  6: rotate(0),
				  9: rotate(90deg),
				  11: rotate(90deg),
				  13: rotate(0)
				);

				$k-mouth-cover-right: (
				  6: rotate(0),
				  9: rotate(-90deg),
				  11: rotate(-90deg),
				  13: rotate(0)
				);

				$k-tail: (
				  1: rotate(0),
				  1.5: rotate(30deg),
				  2: rotate(0),
				  3: rotate(0),
				  4: rotate(30deg),
				  7: rotate(30deg),
				  7.25: rotate(0),
				);
				$tail-wags: 14;
				$tail-interval: (11 - 7.5) / $tail-wags;
				@for $i from 1 through $tail-wags {
				  $k-tail: map-merge($k-tail, (
				    (($i - 1) * $tail-interval + 7.5): rotate(28deg),
				    (($i - 0.5) * $tail-interval + 7.5): rotate(0)
				  )) !global;
				}

				$k-left-ear: (
				  0: rotate(6deg),
				  1: rotate(6deg),
				  2: rotate(15deg),
				  4: rotate(15deg),
				  5: rotate(30deg),
				  6: rotate(30deg),
				  7: rotate(0deg),
				  8: rotate(0deg),
				  9: rotate(15deg),
				  12: rotate(15deg),
				  14: rotate(6deg),
				  $total-kf: rotateZ(6deg)
				);

				$k-right-ear: (
				  0: rotateZ(-16deg),
				  1: rotateZ(-16deg),
				  2: rotateZ(-19deg),
				  4: rotateZ(-19deg),
				  5: rotateZ(-30deg),
				  
				  5.5: rotateZ(-19deg),
				  5.6: rotateZ(-30deg),
				  5.7: rotateZ(-19deg),
				  6: rotateZ(-19deg),
				  6.1: rotateZ(-30deg),
				  6.2: rotateZ(-19deg),

				  7: rotateZ(-9deg),
				  8: rotateZ(-9deg),
				  
				  9: rotateZ(-19deg),
				  9.1: rotateZ(-30deg),
				  9.2: rotateZ(-19deg),
				  9.4: rotateZ(-19deg),
				  9.5: rotateZ(-30deg),
				  9.6: rotateZ(-19deg),
				  
				  12: rotateZ(-19deg),
				  14: rotateZ(-16deg),
				  $total-kf: rotateZ(-16deg)
				);

				@each $i, $prop in $k-right-ear {
				  $k-right-ear: map-merge($k-right-ear, (
				    $i: $prop + ' ' + rotateY(180deg)
				  ));
				}

				@mixin effect($name, $kf) {
				  @keyframes #{$name} {
				    @each $interval, $transform in $kf {
				      #{percentage($interval/$total-kf)} {
				        transform: $transform;
				      }
				    }
				  }
				}

				@include effect('head', $k-head);
				@include effect('mouth', $k-mouth);
				@include effect('nose', $k-nose);
				@include effect('body', $k-body);
				@include effect('mane', $k-mane);
				@include effect('face', $k-face);
				@include effect('left-eye', $k-left-eye);
				@include effect('right-eye', $k-right-eye);
				@include effect('tongue', $k-tongue);
				@include effect('mouth-cover-left', $k-mouth-cover-left);
				@include effect('mouth-cover-right', $k-mouth-cover-right);
				@include effect('tail', $k-tail);
				@include effect('left-ear', $k-left-ear);
				@include effect('right-ear', $k-right-ear);

				*, *:before, *:after {
				  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1) !important;
				}




				.husky {
					right: 0;
					left: 0;
					margin: auto;
				 	animation:  0.3s infinite;
				 	position: relative;	

				 // 	height: 60vmin;
					// width: 86vmin;	  
				  // @media screen and (max-width: 400px) {
				  //   // Chrome for Android chokes
				  //   animation: none;
				  // }
				  
				  &:before {
				    width: 95%;
				    height: 1vmin;
				    background: $deep-gray;
				    border-radius: 1vmin;
				    top: 100%;
				    right: 0;
				    left: 0px;
					margin: auto;
				    position: relative;
				    z-index: 2;
				  }
				  
				  &:after {
				    width: 100%;
				    height: 15%;
				    top: calc(100% + 0.5vmin);
				    z-index: 3;
				    background: $light-gray;
				  }
				}

				div:before, div:after {
				  content: '';
				  display: block;
				  position: absolute;
				}

				.head {
				  animation: head $duration none infinite;
				  position: absolute;
				  height: 45%;
				  width: 58%;
				  left: 34%;
				  top: 5%;
				  transform-origin: bottom center;
				  
				  &:before {
				    background: $color-primary;
				    border-top-left-radius: 50% 40%;
				    border-top-right-radius: 50% 40%;
				    border-bottom-right-radius: 10% 60%;
				    height: 100%;
				    width: 100%;
				  }
				}

				.face {
				  animation: face $duration none infinite;
				  position: absolute;
				  width: 98%;
				  height: 62%;
				  top: 15%;
				  left: 2%;
				  
				  &:before {
				    z-index: 1;
				    width: 94%;
				    height: 70%;
				    left: 3%;
				    background-color: $color-white;
				    bottom: 5%;
				    border-top-left-radius: 40% 50%;
				    border-top-right-radius: 40% 50%;
				    border-bottom-left-radius: 30% 50%;
				    border-bottom-right-radius: 30% 40%;
				  }
				}

				.eye {
				  animation: eyes $duration none infinite;
				  position: absolute;
				  width: 30%;
				  height: 40%;
				  background-color: $color-white;
				  right: 45%;
				  border-top-left-radius: 55% 50%;
				  border-top-right-radius: 45% 50%;
				  z-index: 2;
				  
				  &:before {
				    animation: left-eye $duration none infinite;
				    height: 15%;
				    width: 15%;
				    border-radius: 100%;
				    background: $color-dark;
				    top: 45%;
				    left: 45%;
				    transform-origin: center center;
				  }
				  
				  + .eye {
				    z-index: 1;
				    right: initial;
				    left: 48%;
				    border-top-right-radius: 55% 50%;
				    border-top-left-radius: 45% 50%;
				  }
				}

				.nose {
				  animation: nose $duration none infinite;
				  z-index: 2;
				  position: absolute;
				  width: 20%;
				  height: 20%;
				  top: 29%;
				  left: 42%;
				  
				  &:after {
				    background: $color-primary;
				    height: 100%;
				    width: 100%;
				    border-top-left-radius: 20% 20%;
				    border-top-right-radius: 30% 20%;
				    border-bottom-right-radius: 55% 80%;
				    border-bottom-left-radius: 50% 80%;
				  }
				  
				  &:before {
				    height: 100%;
				    width: 200%;
				    background: $color-white;
				    top: 50%;
				    left: -50%;
				    z-index: -1;
				    border-radius: 50%;
				  }
				}

				.ear {
				  animation: left-ear $duration both infinite;
				  position: absolute;
				  top: 3%;
				  left: -10%;
				  width: 48%;
				  height: 30%;
				  border-bottom-left-radius: 100% 90%;
				  border-top-left-radius: 10%;
				  transform-origin: 80% center;
				  overflow: hidden;
				  background: $color-primary;
				  
				  &:before {
				    width: 70%;
				    height: 55%;
				    border: 2px solid $color-primary;
				    background: $color-ear;
				    top: 20%;
				    left: 15%;
				    transform-origin: top left;
				    transform:
				      skewX(30deg)
				      rotate(-5deg);
				  }
				  
				  &:after {
				    width: 70%;
				    height: 100%;
				    border-top-left-radius: 100%;
				    background: $color-primary;
				    left: 32%;
				    transform-origin: top left;
				    transform: rotate(-5deg);
				  }
				  
				  + .ear {
				    animation: right-ear $duration both infinite;
				    background-color: $color-dark;
				    left: 15%;
				    top: 5%;
				    z-index: -1;
				    transform-origin: right center;
				    
				    &:before {
				      border-color: $color-dark;
				    }
				    
				    &:after {
				      background: $color-dark;
				    }
				  }
				}

				.mouth {
				  z-index: 1;
				  animation: mouth $duration none infinite;
				  position: absolute;
				  width: 48%;
				  height: 55%;
				  bottom: -5%;
				  left: 28%;
				  overflow: hidden;
				  
				  &:before, &:after {
				    animation: mouth-cover-left $duration none infinite;
				    width: 28%;
				    height: 100%;
				    background: $color-white;
				    top: -50%;
				    left: 0;
				    z-index: 3;
				    transform-origin: right top;
				  }
				  
				  &:after {
				    animation: mouth-cover-right $duration none infinite;
				    left: initial;
				    right: 0;
				    transform-origin: left top;
				  }
				}

				.lips {
				  z-index: 2;
				  height: 35%;
				  width: 100%;
				  
				  &:before, &:after {
				    background: $color-white;
				    width: calc(50% + 1.5px);
				    border-color: $color-light;
				    border-width: 3px;
				    border-style: solid;
				    height: 100%;
				    border-bottom-left-radius: 65% 100%;
				    border-bottom-right-radius: 35% 50%;
				    border-top-right-radius: 50%;
				    // border-right-width: 0;
				    border-right-color: transparent;
				    border-top-color: transparent;
				  }
				  
				  &:after {
				    transform: rotateY(180deg);
				    left: initial;    
				    right: 0;
				  }
				}

				.tongue {
				  animation: tongue $duration none infinite;
				  position: absolute;
				  height: 100%;
				  width: 44%;
				  background: $color-tongue;
				  left: 25%;
				  bottom: 100%;
				  z-index: 1;
				  border-bottom-left-radius: 50% 20%;
				  border-bottom-right-radius: 50% 20%;
				}

				.body {
				  animation: body $duration none infinite;
				  width: 45%;
				  height: 100%;
				  position: absolute;
				  left: 25%;
				}

				.torso {
				  position: absolute;
				  height: 55%;
				  width: 100%;
				  bottom: 0;
				  
				  &:before {
				    background: $color-primary;
				    height: 100%;
				    width: 50%;
				    transform:
				      translateX(-20%)
				      skewX(-30deg);
				    transform-origin: left bottom;
				    border-radius: 0 30% 0 60%;
				  }
				  
				  &:after {
				    background: $color-primary;
				    height: 100%;
				    width: 60%;
				    top: 0;
				    right: 0;
				    border-radius: 10% 40% 60% 0;
				  }
				}

				.mane {
				  animation: mane $duration none infinite;
				  z-index: 2;
				  position: absolute;
				  width: 31.5%;
				  height: 30%;
				  top: 44%;
				  left: 37%;
				  
				  &:before {    
				    background: $color-white;
				    height: 40%;
				    width: 100%;
				    border-top-left-radius: 10% 50%;
				    border-top-right-radius: 20% 100%;
				    border-bottom-left-radius: 10% 50%;
				  }
				  
				  &:after {
				    background: $color-white;
				    top: 25%;
				    height: 76%;
				    width: 30%;
				    right: 23%;
				    border-top-right-radius: 100% 80%;
				    transform: rotate(47deg);
				    transform-origin: bottom right;
				  }
				}

				.coat {
				  position: absolute;
				  width: 50%;
				  height: 50%;
				  background: $color-white;
				  transform-origin: bottom right;
				  left: 10%;
				  top: 21%;
				  transform: rotate(25deg) skewX(-30deg) ;
				}

				.legs {
				  background-color: $color-primary;
				  position: absolute;
				  height: 30%;
				  width: 42%;
				  left: 23%;
				  bottom: 0;
				  border-top-left-radius: 20% 37%;
				  border-bottom-left-radius: 10% 37%;
				  border-top-right-radius: 50%;
				  z-index: 1;
				}

				.front-legs {
				  position: absolute;
				  width: 55%;
				  height: 117%;
				  bottom: 0;
				  right: -12%;
				  
				  &:before {
				    width: 4%;
				    height: 6%;
				    background: transparent;
				    bottom: 0;
				    left: 47%;
				    box-shadow:
				      -1.3vmin 0 0 $color-light,
				      -2.8vmin 0 0 $color-light,
				      1.3vmin 0 0 $color-bg,
				      2.8vmin 0 0 $color-bg
				      ;
				    z-index: 2;
				  }
				  
				  > .leg {
				    width: 51%;
				    height: 100%;
				    position: absolute;
				    bottom: 0;
				    right: 50%;
				    overflow: hidden;
				    
				    &:before {
				      background: $color-lighter;
				      height: 100%;
				      width: 100%;
				      transform: skewY(-30deg) skewX(10deg);
				      transform-origin: top right;
				    }
				    
				    + .leg {
				      right: 0;
				      transform: rotateY(180deg);
				      
				      &:before {
				        background: $color-light;
				      }
				    }
				  }
				}

				.hind-leg {
				  position: absolute;
				  background: $color-light;
				  width: 35%;
				  height: 25%;
				  border-top-left-radius: 35% 100%;
				  border-top-right-radius: 40% 100%;
				  bottom: 0%;
				  right: 45%;
				  
				  &:before {
				    width: 6%;
				    height: 20%;
				    background: transparent;
				    bottom: 0;
				    left: 70%;
				    box-shadow:
				      -0.8vmin 0 0 $color-bg,
				      0.8vmin 0 0 $color-bg;
				  }
				}

				.tail {
				  position: absolute;
				  // width: 15%;
				  width: 0;
				  height: 6%;
				  bottom: 0;
				  right: 72%;
				  background: $color-dark;
				  z-index: 0;
				  
				  > .tail {
				    animation: tail $duration none infinite;
				    height: 100%;
				    width: 4vmin;
				    right: 26%;
				    transform-origin: center right;
				    border-top-left-radius: 50% 50%;
				    border-bottom-left-radius: 50% 50%;
				    transform: rotate(26deg);
				    transform: rotate(0deg);
				  }
				  
				  .husky > & {
				    border-top-left-radius: 10% 50%;
				    border-bottom-left-radius: 10% 50%;
				  }
				  
				  .husky > & > & {
				    right: 88%;
				  }
				}

				@keyframes squiggly-anim {
				  0% {
				    filter: url('#squiggly-0');
				  }
				  25% {
				    filter: url('#squiggly-1');
				  }
				  50% {
				    filter: url('#squiggly-2');
				  }
				  75% {
				    filter: url('#squiggly-3');
				  }
				  100% {
				    filter: url('#squiggly-4');
				  }
				}

				html, body {
				  // background-repeat: no-repeat;
				  // background-size: contain;
				  // background-position: center center;
				  // display: flex;
				  // flex-direction: column;
				  // justify-content: center;
				  // align-items: center;
				  // background-color: $color-bg;
				  // width: 100%;
				  // height: 100%;
				  // margin: 0;
				  // padding: 0;
				}

				*, *:before, *:after {
				  box-sizing: border-box;
				  position: relative;
				}
			}//husyl-box

		.b-bowlBox{
			position: absolute;
			bottom: -5px;
			right: 0;
			width: 100px;

			img{
				position: relative;
				z-index: 4;
				cursor: pointer;
			}

			.b-bowl-img{
				position: relative;
				.bowl-food{
					position: absolute;
					// top: -30px;
					top: -10px;
					opacity: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 90%;
					height: 100%;
					
					.b-food{
						position: absolute;
						height: 100%;
						background: $cookieColor;
						border-radius: 50%;
					}
					.b-food1{
						width: 40%;
						left:0;
						bottom: -5px;
					}
					.b-food2{
						width: 50%;
						left: 0;
						right:0;
						top: -10px;
						margin: auto;
					}
					.b-food3{
						width: 40%;
						right: 0;
						bottom: -5px;
					}
				}
				.text-effect{
					transform:scale(1.5);
					-webkit-filter: blur(2px); /* Safari */
    				filter: blur(2px);
				}
				.much-service{
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					margin: auto;
					width: 100%;
					height: 100%;
					position: absolute;	
					z-index: 5;
					text-align: center;
					color:$white;
					transition:.5s;

					
					#service-total{
						cursor: pointer;
						font-size: $fz-h3;
						display:block;
						text-shadow: 0 0 10px $b-black;
						
					}
					
				}
			}
			.select-service{
				position: absolute;
				padding: 40px 10px;
				background-color:rgba(50,50,50,.9);
				bottom: 0;
				right: 0;
				z-index: 5;
				display: none;
				border-radius: $border-radius;
				.service-box{
					.add-icon{
						transform:rotate(45deg);
					}
					display: none;
					
				}
				.closeLightBox{
						line-height: 20px;
						text-align: center;
						position: absolute;
						top: -35px;
						right: -5px;
						width: 33px;
						height:33px;
						background-color: rgba(0,0,0,.7);
						border-radius: 50%;
						transition:.3s;
						border:2px solid #ddd;
										
						.fa-plus{
							position: relative;
							left: 3px;
							top: -3px;
							padding-top: 10px;
							font-size: 20px;
							color: #fff;
							cursor: pointer;
							transform:rotate(45deg);
						}
					}

			}
		}
		.service-all{
				// height: 80px;
			position: relative;
			z-index: 2;
			.b-service{ 
				width: 63vmin;
				margin: auto;
				position: relative;
				text-align: center;
				&:after{
					content: '';
					display: block;
					width: 0;
					clear: both;
				}
				.service-box{
					text-align: center;
					padding: 8px;
					z-index: 4;
					float: left;
					transition:.5s;
					transform:translateY(0);

					
					.b-service-info{
						padding-right:2px; 
					}
					.add-icon{
						cursor: pointer;
						display: inline-block;
						position: relative;
						margin: auto;
						z-index: 5;
						bottom: -5px;
						font-size: 20px;
						background:$orange;
						color:$brown;
						border-radius: 50%;
						width: 35px;
						height: 35px;
						line-height: 35px;
					}
					p{
						cursor: pointer;
						display: block;
						padding: 10px 5px;
						background-color: $cookieColor;
						
						position: relative;
						z-index: 1;
						span{
							color:$white;
						}
						animation:cookiemovie 1s 0s ease   infinite alternate;
						@keyframes cookiemovie{
							0%{transform:rotate(0deg);}
							10%{transform:rotate(3deg);}
							20%{transform:rotate(-3deg);}
							30%{transform:rotate(0deg);}
							40%{transform:rotate(3deg);}
							20%{transform:rotate(-3deg);}
							60%{transform:rotate(0deg);}
							70%{transform:rotate(3deg);}
							80%{transform:rotate(-3deg);}
							80%{transform:rotate(0deg);}
							100%{transform:rotate(0deg);}
						}
						.circle{
							display: block;
							width: 35px;
							height: 35px;
							border-radius: 50%;
							background-color: $cookieColor;
							position: absolute;
						}
						.lt{
							top: -8px;
							left: -5px;
						}
						.lb{
							bottom: -8px;
							left: -5px;
						}
						.rt{
							top: -8px;
							right: -5px;
						}
						.rb{
							bottom: -8px;
							right: -5px;
						}
						.b-service-txt{
							position: relative;
							z-index: 5;
						}

					}

				}

			}
			.selected-box{
				width: 100%;
				.service-box{
					
				}
			}
		}






	}//servie-step
	.step_orderCheck{
		
		// background:transparent url('../images/b-step5.jpg') left top no-repeat;
		background-image: cover;
		padding-bottom: 0;
		h4{
			padding: 10px 0;
		}
		#service-added{
			span{
				padding: 0 5px;
			}
		}
		.step-info{
			padding: 10px 0;
		}
		.order-content{
			background: rgba(255,255,255,.4);
			padding: 0 10px;
		}
		.pet-boy,.pet-girl{display: none;}
		.box{
			padding:0;
			margin: 0;
		}
		.img-box{
			padding: 10px 30px;
		}
		.steps{
			li:nth-child(5) a{
				border-bottom: 5px solid $brown;
				background-color:$deep-orange;
				color: #fff;
			}		
		}
		.order-check{
			padding: 20px;
			// border: 1px solid #fa0;
			// background-color: rgba(249, 247, 232, .9);
			// border-radius: $border-radius;
			p{
				padding: 5px 0px;
			}

			.addServiceSpan{
				padding: 0px 5px;
			}
		}
	}


	//service-pay
	.step_pay{
		
		.pay-method{
			padding: 10px 20px;
			cursor: pointer;
			transition:.3s;
			opacity: .3;
			p{
				font-weight: bold;
				font-size: 20px;
			}

		}
		.title{
			padding: 0px 20px;
		}
		
	}

	.step_gowhere{
		.bgdark{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.7);

		}
		.dogbox{
			width: 100%;
			min-height: 70vh;			
			position: relative;
		}
		.gogo{

			a{
				.fa{font-size: 60px;color:$white;}
				padding: 10px 25px;
				display: inline-block;
				border-radius: 50%;
				background :$sup-orange;
				position: relative;
				p{
					font-size: $fz-mincontent;
					span{
						color:$white;
					}
				}
				.dotdot{
					position: absolute;
					background-color: $sup-orange;
					bottom: -20px;
					border-radius: 50%;
					right: 0;
					left: 0;
					margin:auto;
				}
				.dotleft1{
					width: 15px;
					height: 15px;
				}
				.dotleft2{
					width: 10px;
					height: 10px;
					bottom: -35px;
					right: -13px;
				}

				.dotright1{
					width: 15px;
					height: 15px;
				}
				.dotright2{
					width: 10px;
					height: 10px;
					bottom: -35px;
					left: -13px;
				}
			}
		}

		/*=====================================================
		=             for Dog          =
		=====================================================*/


		 /* DOG */
		 
		.dog-background {
		  position: relative;
		  height: 50vmin;
		  display: inline-block;
		}
		 
		.dog { 
		    transform: translateX(-50%);
		    position: absolute;
			left: 50%;
		    top: 80%;
		}

		.dog-head { 
		  background-color: #F8DC93;
		  height: 14vmin;
		  width: 20vmin;
		  -moz-border-radius: 2vmin 0 0 16vmin;
		  border-radius: 2vmin 0 0 16vmin;
		  transform-origin: 100% 0%;
		  -webkit-transform: rotate(0deg);
		  -moz-transform: rotate(0deg);
		  -o-transform: rotate(0deg);
		  -ms-transform: rotate(0deg);
		  transform: rotate(0deg);
		  right: 7vmin;
		  top: -33vmin;
		  position: relative;
		  z-index: 1;
		  -webkit-transition: .4s ease-in-out;
		  -moz-transition: .4s ease-in-out;
		  -o-transition: .4s ease-in-out;
		  transition: .4s ease-in-out;
		}

		.dog-smile {
		  height: 3vmin;
		  width: 4vmin;
		  -moz-border-radius: 150px 0 0 0;
		  border-radius: 3vmin 0 0 0;
		  transform-origin: 100% 0%;
		  border-top: 3px solid #D2AF5E;
		  border-left: 2px solid #D2AF5E;
		  outline: 0px solid #fff;
		  -webkit-transform: rotate(0deg);
		  -moz-transform: rotate(0deg);
		  -o-transform: rotate(0deg);
		  -ms-transform: rotate(0deg);
		  transform: rotate(180deg);
		  left: -.8vmin;
		  /* top: -5vmin; */
		  position: absolute;
		  z-index: 1;
		  -webkit-transition: .1s ease-in-out;
		  -moz-transition: .1s ease-in-out;
		  -o-transition: .1s ease-in-out;
		  transition: .1s ease-in-out;
		  background: #F8DC93;
		}

		.dog-fang1 {
		  display: inline-block;
		  width: 0;
		  border: .9vmin transparent solid;
		  border-bottom: 2vmin transparent solid;
		  top: .1vmin;
		  left: 2vmin;
		  position: absolute;  
		}

		.dog-fang2 {
		display: inline-block;
		  width: 0;
		  border: .9vmin transparent solid;
		  border-bottom: 2vmin transparent solid;
		  top: .1vmin;
		  left: .2vmin;
		  position: absolute;
		}

		.dog-tongue {
		  height: 3vmin;
		  width: 2.5vmin;
		  -moz-border-radius: 150px 0 0 0;
		  border-radius: 1vmin 1vmin 0 0;
		  left: 1.3vmin;
		  position: absolute;
		  z-index: 1;
		  background-color: #F5901E;
		    -webkit-animation: pant .3s infinite;
		          animation: pant .3s infinite;
		}

		.dog-nose { 
		  background-color: #000;
		  height: 3vmin;
		  width: 3vmin;
		  -moz-border-radius: 50%;
		  border-radius: 50%;
		  top: -1vmin;
		  left: -1vmin;
		  position: relative;
		    -webkit-transition: .4s ease-in-out;
		  -moz-transition: .4s ease-in-out;
		  -o-transition: .4s ease-in-out;
		  transition: .4s ease-in-out;
		}

		.dog-eye { 
		  background-color: #D2AF5E;
		  height: 7vmin;
		  width: 7vmin;
		  -moz-border-radius: 50%;
		  border-radius: 50%;
		  top: -1vmin;
		  left: 10vmin;
		  position: relative;
		    -webkit-transition: .4s ease-in-out;
		  -moz-transition: .4s ease-in-out;
		  -o-transition: .4s ease-in-out;
		  transition: .4s ease-in-out;
		}
		 
		.dog-eye div { 
		  background-color: #000;
		  height: 3vmin;
		  width: 3vmin;
		  -moz-border-radius: 50%;
		  border-radius: 50%;
		  top: 1vmin;
		  left: 2vmin;
		  -webkit-transition: .4s ease-in-out;
		  -moz-transition: .4s ease-in-out;
		  -o-transition: .4s ease-in-out;
		  transition: .4s ease-in-out;
		  position: relative;
		} 

		.dog-eye div div{ 
		  background-color: #FFF;
		  height: 1vmin;
		  width: 1vmin;
		  -moz-border-radius: 50%;
		  border-radius: 50%;
		  top: .5vmin;
		  left: .5vmin;
		  -webkit-transition: .2s ease-in-out;
		  -moz-transition: .2s ease-in-out;
		  -o-transition: .2s ease-in-out;
		  transition: .2s ease-in-out;
		  position: relative;
		} 

		.dog-ear{ 
		  background-color: #C3AF79;
		  height: 4vmin;
		  width: 3vmin;
		  -moz-border-radius: 2vmin 0 0 16vmin;
		  border-radius: 16vmin 4vmin 0 0;
		  transform-origin: 100% 0%;
		  -webkit-transform: rotate(0deg);
		  -moz-transform: rotate(0deg);
		  -o-transform: rotate(0deg);
		  -ms-transform: rotate(0deg);
		  transform: rotate(1deg);
		  left: 14vmin;
		  top: -4vmin;
		  position: absolute;
		  z-index: -1;
		  -webkit-transition: .4s ease-in-out;
		  -moz-transition: .4s ease-in-out;
		  -o-transition: .4s ease-in-out;
		  transition: .4s ease-in-out;
		  box-shadow: 3vmin -.0vmin 0 0 #F8DC93;
		} 

		.dog-body { 
		background-color: #F8DC93;
		  height: 14vmin;
		  width: 26vmin;
		  transform-origin: 100% 0%;
		  -webkit-transform: rotate(0deg);
		  -moz-transform: rotate(0deg);
		  -o-transform: rotate(0deg);
		  -ms-transform: rotate(0deg);
		  transform: rotate(0deg);
		  right: -14vmin;
		  top: -23vmin;
		  position: absolute;
		  z-index: 1;
		  -webkit-transition: .4s ease-in-out;
		  -moz-transition: .4s ease-in-out;
		  -o-transition: .4s ease-in-out;
		  transition: .4s ease-in-out;
		  -moz-border-radius: 2vmin 0vmin 0vmin 14vmin;
		  border-radius: 2vmin 0vmin 0vmin 14vmin;
		}

		.dog-spot { 
		  background-color: #D2AF5E;
		  height: 9vmin;
		  width: 5vmin;
		  -moz-border-radius: 150px 0 0 150px;
		  border-radius: 150px 0 0 150px;
		  transform-origin: 100% 0%;
		  -webkit-transform: rotate(12deg);
		  -moz-transform: rotate(12deg);
		  -o-transform: rotate(12deg);
		  -ms-transform: rotate(12deg);
		  transform: rotate(270deg);
		  left: 7vmin;
		  top: 0vmin;
		  position: absolute;
		  -webkit-transition: .4s ease-in-out;
		  -moz-transition: .4s ease-in-out;
		  -o-transition: .4s ease-in-out;
		  transition: .4s ease-in-out;
		}

		.dog-tail { 
		  width: 0;
		  height: 0;
		  border-style: solid;
		  border-width: 0 0 5vmin 3vmin;
		  border-color: transparent transparent #F8DC93 transparent;
		  position: absolute;
		  top: -3vmin;
		  right: 0;
		    transform-origin: 100% 100%;
		    -webkit-transform: rotate(15deg);
		  -moz-transform: rotate(15deg);
		  -o-transform: rotate(15deg);
		  -ms-transform: rotate(15deg);
		  transform: rotate(15deg);
		    -webkit-animation: wag .4s ease-in-out infinite;
		  animation: wag .4s ease-in-out infinite; 
		}

		.dog-leg1 { 
		  background-color: #F8DC93;
		  height: 6vmin;
		  width: 3vmin;
		  transform-origin: 100% 0%;
		  -webkit-transform: rotate(0deg);
		  -moz-transform: rotate(0deg);
		  -o-transform: rotate(0deg);
		  -ms-transform: rotate(0deg);
		  transform: rotate(0deg);
		  left: 6vmin;
		  top: 12vmin;
		  position: absolute;
		  z-index: 1;
		  -webkit-transition: .4s ease-in-out;
		  -moz-transition: .4s ease-in-out;
		  -o-transition: .4s ease-in-out;
		  transition: .4s ease-in-out;
		}

		.dog-leg1 div { 
		  width: 0;
		  height: 0;
		  border-style: solid;
		  border-width: 0 0 6vmin 4vmin;
		  border-color: transparent transparent #F8DC93 transparent;
		  position: absolute;
		  right: 0vmin;
		  bottom: 0;
		}

		.dog-leg2 { 
		  background-color: #F8DC93;
		  height: 5vmin;
		  width: 3vmin;
		  transform-origin: 100% 0%;
		  -webkit-transform: rotate(0deg);
		  -moz-transform: rotate(0deg);
		  -o-transform: rotate(0deg);
		  -ms-transform: rotate(0deg);
		  transform: rotate(0deg);
		  left: 10vmin;
		  top: 13vmin;
		  position: absolute;
		  z-index: 1;
		  -webkit-transition: .4s ease-in-out;
		  -moz-transition: .4s ease-in-out;
		  -o-transition: .4s ease-in-out;
		  transition: .4s ease-in-out;
		}

		.dog-leg2 div { 
		  width: 0;
		  height: 0;
		  border-style: solid;
		  border-width: 6vmin 0 0 4vmin;
		  border-color: transparent transparent transparent #F8DC93;
		  position: absolute;
		  bottom: 0;
		}

		.dog-leg3 { 
		  background-color: #F8DC93;
		  height: 4vmin;
		  width: 3vmin;
		  transform-origin: 100% 0%;
		  -webkit-transform: rotate(0deg);
		  -moz-transform: rotate(0deg);
		  -o-transform: rotate(0deg);
		  -ms-transform: rotate(0deg);
		  transform: rotate(0deg);
		  left: 23vmin;
		  top: 14vmin;
		  position: absolute;
		  z-index: 1;
		  -webkit-transition: .4s ease-in-out;
		  -moz-transition: .4s ease-in-out;
		  -o-transition: .4s ease-in-out;
		  transition: .4s ease-in-out;
		  box-shadow: -4vmin 0vmin 0 0 #C3AF79;
		}

		.dog-leg3 div { 
		  width: 0;
		  height: 0;
		  border-style: solid;
		  border-width: 0 0 4vmin 4vmin;
		  border-color: transparent transparent #F8DC93 transparent;
		  position: absolute;
		  right: 0vmin;
		  bottom: 0;
		}

		.dog-leg3 div div {
		  width: 0;
		  height: 0;
		  border-style: solid;
		  border-color: transparent transparent #C3AF79 transparent;
		  position: absolute;
		  right: 4vmin;
		  bottom: -3.9vmin;
		}

		.dog:hover .dog-smile { 
		  background: #564C35;
		  border-radius: 0vmin 0vmin 0vmin 0vmin; 
		  border: 1px solid #564C35;
		  left: .1vmin;
		    animation: snarl .1s ease-in-out infinite;
		  -webkit-animation: snarl .1s ease-in-out infinite;
		}

		.dog:hover .dog-tongue { 
		width: 0vmin;
		height: 0vmin;
		}

		.dog:hover .dog-tail { 
		    -webkit-transform: rotate(15deg);
		  -moz-transform: rotate(15deg);
		  -o-transform: rotate(15deg);
		  -ms-transform: rotate(15deg);
		  transform: rotate(15deg);
		      -webkit-animation: nowag .4s ease-in-out infinite;
		  animation: nowag .4s ease-in-out infinite; 
		}

		.dog:hover .dog-eye div div { 
		width: .5vmin;
		height: .5vmin;
		}

		.dog:hover .dog-body { 
		animation: heave .1s ease-in-out infinite; 
		}

		.dog:hover .dog-fang1 { 
		    border-bottom: 2vmin #fff solid;
		}

		.dog:hover .dog-fang2 { 
		    border-bottom: 2vmin #fff solid;
		}

		@keyframes pant {
		0% {height: 3vmin; top: -3.2vmin;}
		50% {height: 2vmin; top: -2.2vmin;}
		100% {height: 3vmin; top: -3.2vmin;}
		}

		@-webkit-keyframes pant {
		0% {height: 3vmin; top: -3.2vmin;}
		50% {height: 2vmin; top: -2.2vmin;}
		100% {height: 3vmin; top: -3.2vmin;}
		}

		@keyframes snarl {
		  0% {
		outline: 0px solid #564C35;
		  }
		  50% {
		outline: 2px solid #564C35;
		  }
		  100% {
		outline: 0px solid #564C35;
		  }
		}

		@-webkit-keyframes snarl {
		  0% {
		outline: 0px solid #564C35;
		  }
		  50% {
		outline: 2px solid #564C35;
		  }
		  100% {
		outline: 0px solid #564C35;
		  }
		}

		@keyframes heave {
		  0% {
		border-radius: 2vmin 0vmin 0vmin 14vmin;
		  }
		  50% {
		border-radius: 2vmin 0vmin 0vmin 20vmin;
		  }
		  100% {
		border-radius: 2vmin 0vmin 0vmin 14vmin;
		  }
		}

		@-webkit-keyframes heave {
		  0% {
		outline: 0px solid #Fff;
		  }
		  50% {
		outline: 2px solid #fff;
		  }
		  100% {
		outline: 0px solid #fff;
		  }
		}

		@keyframes wag {
		0% {transform: rotate(15deg);}
		25% {transform: rotate(20deg);}
		50% {transform: rotate(10deg);}
		75% {transform: rotate(20deg);}
		100% {transform: rotate(10deg);}
		}

		@-webkit-keyframes wag {
		00% {transform: rotate(15deg);}
		25% {transform: rotate(20deg);}
		50% {transform: rotate(10deg);}
		75% {transform: rotate(20deg);}
		100% {transform: rotate(10deg);}
		}

		.btndiv {
		 height:100px; 
		 margin-top:20px;
		 margin-bottom:10px;
		}

		.btnpop {
		  background: #3777c4;
		  position: relative;
		  padding: 15px 40px;
		  border-top: 0px;
		  border-left: 0px;
		  border-right: 0px;
		  border-bottom: 5px solid #1462BD;
		  color: white;
		  font-size: 25px;
		  vertical-align: middle;
		  -webkit-border-radius: 1px;
		  -moz-border-radius: 1px;
		  border-radius: 1px;
		  transition: all 0.1s;
		}
		.btnpop:hover { 
		  border-bottom: 5px solid #1462BD;
		  background: #4984cc;
		}
		.btnpop:active { 
		  top: 2px; 
		  border-bottom: 2px solid #1462BD;
		  background: #4984cc; 
		  -webkit-box-shadow:none;
		  box-shadow:none;
		}

		.btnpop:focus {outline:0;}

		.dog  h1{
		    font-size: 39vmin;
		    position: absolute;
		    top: -44vmin;
		    font-family: ultra;
			left: -33.2vmin;
			color: #1659A9;
		}
	}
	.payanimation{
		position: fixed;
		display: none;
		z-index: 21;
		width: 100%;
		height: 100vh;
		padding-top: -80px;
		background-color: $deep-gray;
		top: 0;
		left: 0;
		
		.checkmm{
			animation:checkmm 1.5s 1s ease both;
		}

		@keyframes checkmm{
			0%{opacity:0;}
			20%{opacity:1; transform:scale(0);}
			40%{opacity:1; transform:scale(1.5);}
			60%{opacity:1; transform:scale(1.3);}
			80%{opacity:1; transform:scale(1.4);}
			100%{opacity:1; transform:scale(1.4);}

		}
		.check-ok{
			position: absolute;
			z-index: 25;
			top: 50%;
			left: 50%;
			h1{
				padding: 20px 0;
				opacity: 0;
				color:$white;
			}
			transform:translate(-50%,-50%);
			.fa{
				font-size: 100px;
				color:$orange;
				opacity: 0;
			}
			


		}
	}

}//book


