@include respones(sm){
	//平板 container 100%
	//直接寫css
	.book{
	//從這開始寫
	.step{
		// -moz-background-size:auto 100%;
		// -webkit-background-size:auto 100%;
		// -o-background-size:auto 100%;
		// background-size:auto 100%;
		background-repeat: no-repeat;
		// background-position: 100% 100%;
	}
		.step-info{
			text-align: right;
		}
		.step-info{
			text-align: center;
		}
		.stepDiy{
			width: 400px;
			z-index: 100;
			transform:rotate(90deg);
			top: 280px;
			left: -500px;

			.step-num{
				transform:rotate(-90deg);
			}
			.step-bar{
				padding-top: 7px;
				span{top:-3px;}
			}
			.step-text{
				transform:rotate(-90deg);
				right: -20px;
    			bottom: 95px;
			}
		}
		.lightbox-box{
			// margin-left:-150px;
			// margin-top:-250px;
		}
		#mobileDate{
			font-size: $fz-mincontent;
			div{
				float: left;
				width: 33.333%;
				span{
					display: block;
					font-size:$fz-mincontent;
				}
			}
			&:after{
				content: '';
				display: block;
				width: 0;
				clear: both;
			}
		}
		.next{
			text-align: center;
			a{
				margin-top: 5px;
			}
		}
		.step{
			padding-top: 70px;
			padding-bottom: 30px;
			position: relative;
			.steps{
				text-align: center;
				display: none;
				a{
					font-size: $fz-mincontent;
				}
			}
		}
		.b-select-room{

			.roomStyle{
				.styleBox{
					float: left;
					width: 33.3333%;
				}
				.styles{
					// width: 60px;
					// height: 60px;
					// line-height: 60px;
					margin-top:10px; 
				}
			}
			.roomPic{
				h2{padding: 10px 0;}
				h4{padding: 5px 0;}
				p{line-height: 30px;}
				.pic-main{
					padding: 0 10px;
					img{
					}
				}
				.pic-small{			
					img{
						// width: 33%;
						// padding: 20px;
					}
				}
			}		
		}
		.step_dateRoom{
			.b-select-room{
				// height: 115vh;
			}
			.dateRoom{
				margin-top: 15px;
			}
			.days{
				.dayBox{
					line-height: 2em;
				}
			}
		}
	.step_dog{
		.minh{min-height: 420px}
		.por{padding: 0 19px;}
		.select-dog{
			.dog-kindbg{
				height: 150px;
				width: 300px;
				margin: auto;
			}
			.dog-kind{	
				.kinds{
					// width: 25%;
					// padding: 5px;
					// float: left;
					// font-size: $fz-mincontent;

				}
			}
			.dogs{

				ul{
					width: 300px;
					padding: 10px;
					margin: auto;
					text-align: left;
					font-size: 0;
					li{
						display: inline-block;
						width: 33.3333%;
					}
				}

			}
		}

		.dog-img{
				padding: 10px; 
				width: 300px;
				margin: auto;
				
				img{
					width: 100%;
					text-align: center;
				}
				p{
					padding: 10px 0;
					span{
						
						font-size: 20px;
					}
				}

		}
		
		.dog-info{
			width: 300px;
			padding: 10px;
			margin: auto;
			
		}
		.next{
			margin: auto;
			width: 300px;
		}
		
	}
	.step_mom{
		.mompic{
			margin-top: 20px;
			.select-mon-pic{
				
			}

		}
		.momResult{
			margin-top: 50px;
		}
		/* Tiny Circleslider */
			#rotatescroll {
				display: inline-block;
				height:270px; 
				position:relative; 
				width:270px;
			}
			#rotatescroll .viewport{ 
				height:270px; 
				position: relative; 
				margin:0 auto; 
				overflow:hidden; 
				width:270px; 
				pointer-events: none 
			}
			#rotatescroll .overview { 
				position: absolute;
				width: 789px; 
				list-style: none; 
				margin: 0; 
				padding: 0;  
				left: 0; 
				top: 0; 

			}
			#rotatescroll .overview li { 
				height:270px; 
				width:270px; 
				float: left; 
				border-radius: 50%;
				position: relative;
				overflow: hidden;
				border: 15px solid $deep-orange;

				img{
					font-size: 0;
					width: 100%;
				}
			}
			#rotatescroll .thumb { 
				background:url('../images/thumb.png') no-repeat 50% 50%; 
				touch-action: none; 
				-ms-touch-action: none; 
				position: absolute; 
				top: -3px; 
				cursor: pointer; 
				left: 137px; 
				width: 100px; 
				z-index: 5;  
				height: 100px; 
			}
			#rotatescroll .dot { 
				cursor: pointer; 
				height: 60px; 
				width: 60px;
				text-align: center;
				font-size: 0px; 
				// color: #555; 
				position: absolute;
				vertical-align: top;
				left: 155px;
				z-index: 1;
				border-radius: 50%;
				// background-color: #fff;
				span{
					display: none;
				}
			}
			#rotatescroll .dot{ 
				// background-color: #000;
			}
			#rotatescroll .dot-1{
				background:url('../images/active.png') no-repeat 0 0;

			}
			#rotatescroll .dot-2{
				background:url('../images/Sticky.png') no-repeat 0 0;
			}
			#rotatescroll .dot-3{
				background:url('../images/shy.png') no-repeat 0 0;
			}
			#rotatescroll .dot-4{
				background:url('../images/naughty.png') no-repeat 0 0;
			}
			/* Tiny Circleslider */
		
		
	}//mom-step

	.step_service{
		.service-select-info{
			padding-bottom: 5px;
		}
		.husky {
			height: 60vmin;
			width: 86vmin;
		}
		.select-service{
			width: 300px;
		}
		.selected-box{
			z-index: 50;
			width: 100%;
			.service-box{
				width: 33.3333%;
			}
		}
		.service-all{
			padding-bottom: 20px;
		}
		.service-box{
			width: 33.333%;
			margin-bottom: 15px;
		}
		.add-service{
			position: absolute;
			right: 0;
			transform:translateY(60vmin) scale(0);
			opacity: 0;
			min-height: 250px;		
		}
		.add-box{
			padding-bottom: 50px;
		}
		span{font-size: $fz-content;}
	}//service-step
	.step_orderCheck{
		padding-bottom: 100px;
		.order-check{
			  margin-bottom: 30px;
		}
	}

	}//book
}