@include respones(lg){
	.race{
		.section_prize{
			background-size: cover;
			position: relative;	
		}
		.cloud{
			margin-top: 93px;
			padding: 10px 10px 10px 10px;
			position: relative;
			img{
				width: 100%;
			}
			p{	
				position:absolute;
				top: 0;
				left:0;
				right: 0;
				bottom: 0;
				margin: auto;
				text-align:center;
				height: 0em;
				font-size: 25px;
			}
		}
		.cloud1{
			padding: 0;
			text-align:center;
			img{
				width: 80%;
			}
			p{
				
			}
			span{
				color:$light-pink;
				font-size: $fz-h1;
			}
		}	
		.topthree{
		margin-top: 120px;
		position: absolute;
		width: 100%;
		max-width: 1170px;	
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		.item{
			position: relative;
			width: 100%;
			padding-bottom: 1%;
			display: block;
			.lollipop{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				display: inline-block;
				text-align: center;
				margin-bottom: -10px;
				.hearts{
					vertical-align: middle;
					height: 60px;
					img{
						height: 60px;
						width: 80px;
						display: inline-block;
						vertical-align: middle;
					}
					.count{
						color: $light-pink;
						font-size: $fz-h1;	
						display: inline-block;
						vertical-align: middle;
					}
				}
				.candy{				
					text-align: center;
					position: relative;
					img{						
						width: 250px;
						border-radius: 50%;
						border: 10px solid $orange;					
					}
					.name{
						position: absolute;
						right: 0;
						left: 0;
						margin: 0 auto;
						bottom: 30px;
						color: white;
						font-size: $fz-h1;
					}
				}
				.stick{
					margin-top: -50px;
					width: 20px;
					height: 50px;
					background-color: $orange;
					display: inline-block;
				}
				
			}

				
			// .hearts{
			// 	width: 80%;
			// 	margin:0 auto;
			// 	text-align: center;
			// 	img{
			// 	width: 70px;
			// 	height: 60px;
			// 	vertical-align:middle;
			// 	}
			// 	span{
			// 		font-size: $fz-h2;
			// 		color: $light-pink;
			// 	}
			// }
			// .lollipop{
			// 	position: relative;
			// 	height: 420px;				
				
			// 	.stick{
			// 		position: absolute;
			// 		bottom: 0;
			// 		left: 0;
			// 		right: 0;
			// 		margin:0 auto;
			// 		width: 50%;
			// 		height: 420px;
			// 		background-color: rgba(255, 255, 255, 0);
			// 		text-align: center;
			// 		.candy{
			// 			position: absolute;
			// 			margin:0 auto;
			// 			width: 90%;
			// 			padding-bottom: 90%;
			// 			background-color: $orange;
			// 			border-radius:100%;
			// 			img{
			// 				position: absolute;
			// 				top: 0;
			// 				left:0;
			// 				right:0;
			// 				bottom: 0;
			// 				margin: auto;
			// 				width: 90%;
			// 			}
			// 			.name{
			// 				position: absolute;
			// 				left:0;
			// 				right:0;
			// 				bottom: 20px;
			// 				text-align:center;
			// 				font-size: $fz-h1;
			// 				color:$white;
			// 			}
			// 		} 
			// 	}
			// 	.stick:after{
			// 		content:'';
		
			// 		width: 10px;
			// 		background-color: #fff;
			// 		display: block;
			// 	}
			// 	.stick1{
			// 		padding-bottom: 50%;
			// 	}
			// 	.stick2{
			// 		padding-bottom: 0%;
			// 	}
			// 	.stick3{
			// 		padding-bottom: 30%;
			// 	}

			// }
			}

		}
		.r-cardLightbox{
			.cardContent{
			width: 400px;
			height: 650px;
			}
		}
		#sorts{
			padding: 25px 15px 15px 15px;		
			.button{
				background-color: $light-gray;
				border-radius:15px;
				padding: 5px 15px;
				font-size: $fz-content;
				color:$white;
				border: 1px solid $light-gray;
				cursor: pointer;

				&:hover{
					background-color: $white;
					color:$light-gray;
				}
				&:active{
					position:relative;
					top:1px;
				}
				&:focus {
					outline:0;
					background-color: $white;
					color:$light-gray;
					font-weight: bolder;
					border: 2px solid $light-gray; 
				}
			}
		}
		.searchWrap{
				margin-right: 40px;
				padding: 25px 15px 15px 15px;
				display: inline-block;
				float: right;
				position: relative; 
			#search{	
				input{
					border:3px solid $orange;
					border-radius:5px;
					padding: 5px;
					outline:none;
					width: 200px;
				}
				#searchBtn{
					position: absolute;
					height: 33px;
					bottom: 15px;
					font-size: 20px;
					border-radius:5px;
					vertical-align:middle;
					left: 90%;
					background-color: $orange;
					width: 50px;
					outline:none;
					border:3px solid $orange;
					cursor:pointer;
					i{
						height: 100%;
						color:$white;
					}
				}
			}
		}
		
		#filters{
			display: inline-block;
			padding: 15px;
			.button{
				background-color: $orange;
				border-radius:15px;
				padding: 5px 15px;
				font-size: $fz-content;
				color:$white;
				border: 1px solid $orange;
				cursor:pointer;
				&:hover{
					background-color: $white;
					color:$orange;
				}
				&:active{
					position:relative;
					top:1px;
				}
				&:focus {
					outline:0;
					background-color: $white;
					color:$orange;
					font-weight: bolder;
					border: 2px solid $orange;
				}
			}
		}
		.cardWrap{
			padding: 25px;
		}
	}
}


		