@include respones(md){
	.race{
		
		.section_prize{
			background-size: cover;
			position: relative;	
		}
		.cloud{
			margin-top: 93px;
			padding: 10px 10px 10px 10px;
			position: relative;
			img{
				width: 100%;
			}
			p{	
				position:absolute;
				top: 0;
				left:0;
				right: 0;
				bottom: 0;
				margin: auto;
				text-align:center;
				height: 0em;
				font-size: 25px;
				color: #53a1da;
				text-shadow:0.3px 0.3px 0.3px #4d5dbb;
			}
		}
		.cloud1{
			padding: 0;
			text-align:center;
			img{
				width: 80%;
			}
			p{
				color: #53a1da;
			}
			span{
				color:$light-pink;
				font-size: $fz-h1;
			}
		}	
		.topthree{
		margin-top: 120px;
		position: absolute;
		width: 100%;
		max-width: 1170px;	
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
			.item{
				position: relative;
				width: 100%;
				padding-bottom: 1%;
				display: block;
				.lollipop{
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					display: inline-block;
					text-align: center;
					margin-bottom: -10px;
					.hearts{
						vertical-align: middle;
						height: 60px;
						img{
							height: 60px;
							width: 80px;
							display: inline-block;
							vertical-align: middle;
						}
						.count{
							color: $light-pink;
							font-size: $fz-h1;	
							display: inline-block;
							vertical-align: middle;
						}
					}
					.candy{				
						text-align: center;
						position: relative;
						overflow: hidden;
						width: 250px;
						height: 250px;
						border-radius: 50%;
						border: 10px solid $orange;
						margin: 0 auto;
						img{	
							// width: 100%;
							height: 100%;				
							// width: 250px;
							// height: 250px;
							// border-radius: 50%;
							// border: 10px solid $orange;					
						}
						.name{
							position: absolute;
							right: 0;
							left: 0;
							margin: 0 auto;
							bottom: 30px;
							color: white;
							font-size: $fz-h1;
							text-shadow:0.5px 0.5px 0.5px black;
						}
					}
					.stick{
						margin-top: -50px;
						width: 20px;
						height: 50px;
						background-color: $orange;
						display: inline-block;
					}
					
				}			
			
			}

		}	
		.searchWrap{
				margin-right: 40px;
				padding: 25px 15px 15px 15px;
				display: inline-block;
				float: right;
				position: relative; 
			#search{	
				input{
					border:3px solid $orange;
					border-radius:5px;
					padding: 5px;
					outline:none;
					width: 200px;
				}
				#searchBtn{
					position: absolute;
					height: 33px;
					bottom: 15px;
					font-size: 20px;
					border-radius:5px;
					vertical-align:middle;
					left: 90%;
					background-color: $orange;
					width: 50px;
					outline:none;
					border:3px solid $orange;
					cursor:pointer;
					i{
						height: 100%;
						color:$white;
					}
				}
			}
		}
		.cardWrap{
			padding: 25px;
		}
	}
}


		