@import "lg";
@import "sm";
@import "xs";

.race{
	body{
		// background-color: #ccc;
	}	
	.main{
		background-color: #f9f7e8;
		position: relative;
	}
	.cardlightbox{
			position: relative;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 30;
			margin: auto;
			width: 100%;
			height: 100vh;
			background-color: rgba(0,0,0,.8);
			display: none;			
			.lightbox-box{
				transform:translate(-50% ,-50%);
				position: fixed;
				top: 50%;
				left: 50%;
				// margin: 35px auto;
				width: 0px;
				height: 0px;		
				// border: 1px solid $brown;
				background-color: $bgc;
				// padding: 5px 10px;
				transition:1s;
				// border-radius: 50%;
				border-radius: 15px;
				position: relative;
				box-shadow: 5px 5px 50px $light-gray;
				.lightbox-content{
					background-color:$bgc;
					border-radius: 15px;
					.infobox{		
						height: 100%;
						.petinfo{
							padding: 20px 0px 20px 20px;
							width: 100%;
							height: 100%;
							.maininfo{
								padding: 20px;
								height: 65%;
								width: 100%;
								.txtboxwrap{
										width: 100%;
										margin-top: -20px;							
									.txtbox{
										color: #888;
										p{
											color: #888;
										}
										span{
											color: black;
										}
									}	
								}			
								.imgbox{
									text-align: center;
									max-width:320px;					
									img{
										width: 100%;
										border-radius: 15px;
									}
								}
								.intro{
									display:block;
									border-bottom:1px dashed #ccc;
									p{	
										padding: 3px 0;
										color:#666;
									}			
								}
								.number{
									font-size: $fz-content;
									color: #888;
									font-weight: bold;
								}
								.name{
									padding-left: 10px;
									font-size: $fz-h2;
									// color: $foodColor;
									font-weight: bold;
								}
								.vote{
									font-size: $fz-h1;
									// color: $foodColor;
									font-weight: bold;
								}
							}
							.detailinfo{
								padding:  0 20px 20px 20px;
								height: 35%;
								width: 100%;
								.detailLeft{
									width: 60%;
									p{
										font-size: 16px;
										color:#888;
									}
									span:nth-child(1){
										padding-top: 8px;
									}
									span{
										display: inline-block;
										padding: 3px;
										font-size: 23px;
										// color:$foodColor;
										color:black;	
									}
								}				
								.detailRight{
									width: 40%;
									.like{
										float: right;
										height: 50px;
										width: 62px;
										text-align:center;
										.votes{					
											display: inline-block;
											font-size: $fz-h1;
											color:$light-pink;
										}						
										img{
											width: 100%;
										}
										.favorite{
											cursor: pointer;
											background: transparent;
				  							border: 0;
				  							&:focus{
				  								outline: 0;
				  							}
				  							.outsideheart{			  									
				  								position: relative;
				  								font-size: 50px;
				  								color: #ffd5cc;
				  								&:hover{
					  								color: $light-pink;
					  							}
				  								.insideheart{
													position: absolute;
													top: 0;
													right: 0;
													opacity: 0.5;
				  								}
				  							}
				  							&.liked{
				  								.outsideheart{	  									
				  									color: $light-pink;
				  									z-index: 0;
				  									animation: heart 0.5s;
				  									.insideheart{	
				  										z-index: 1000;
				  										animation: heartHollow 1s;
				  									} 
				  								}
				  							}
										}
									}
								}				
							}
						}
					}
					.msgbox{
						height: 100%;
						.msg{
							padding: 20px 20px 20px 20px;
							width: 100%;
							height: 100%;
							.msgContent{
								background-color: #FFF;
								display:block;
								padding: 20px 20px 20px 20px;						
								height: 500px;
								width: 100%;
								overflow: auto;
								word-break: break-all;	
								ul{	
									height: 100%;
									border-bottom:1px solid #ccc;
									display: block;
									li{
										width: 100%;
										word-break: break-all;
										padding: 0 50px;
									}
									span{
										width: 100%;
										word-break: break-all;
									}	
								}
							}			
							.msginput{
								display:block;
								padding: 0 20px;
								width: 100%;
								height: 60px;
								background-color: #fff;
								.somebody{
									display: inline-block;
									.name{
										padding: 3px;
										line-height: 60px;
									}						
								}
								.msgtype{
									border: none;
									outline:none;
									width: 200px;
								}
								.cardmsgbutton{
									border:none;
									outline:none;
									border-radius:10px;
									padding: 3px 10px;
									background-color: $foodColor;
									color:$white;
									cursor:pointer;
									&:hover{
										background-color: $sup-orange;
									}
								}
							}					
						}
					}					
					.closeLightBox{
						line-height: 20px;
						text-align: center;
						position: absolute;
						top: -10px;
						right: -10px;
						width: 33px;
						height:33px;
						background-color: rgba(0,0,0,.7);
						border-radius: 50%;
						transition:.3s;
						border:2px solid #ddd;					
						.fa-plus{
							position: relative;
							left: 3px;
							top: -2px;
							padding-top: 10px;
							font-size: 20px;
							color: #fff;
							cursor: pointer;
							transform:rotate(45deg);
						}
					}
				}
			} 		
	}		
	.section_prize{
		width: 100%;
   		height: 100vh;
   		background-image: url("../images/race_image/r_bgimg.png");
   		background-position: center center;
   		background-color: #ccc;
   		overflow: hidden;		
	}
	.prize_item{
		height: 30vh;
	
	}
	.container{
		max-width: 1170px;
	}
	.toCompete{
		// width: 100px;
		position: absolute;
		// padding: 5px;
		text-align: center;
		
		right: 10px;
		bottom: 20px;
		// margin: auto;
		z-index: 1;
		// #competeBtn{
		// 	a{
		// 		padding: 5px 10px;
		// 		background-color: $deep-orange;
		// 		border-radius:15px;
		// 		color:$white;
		// 	}
		// }
	}
	.btnFunction {
	    text-align: center;
	    padding: 6px 12px;
	    font-size: $fz-content;
	    border-radius: 5px;
	    background: #f34e1b;
	    background: linear-gradient(to bottom, rgba(243, 78, 27, 1.0) 0, rgba(230, 50, 10, 1.0) 100%);
	    color: #fff;
	    cursor: pointer;
	    letter-spacing: 2px;
	    transition: all .4s;
	    border:none;

	    &:hover {
	        background: hsla(14, 90%, 45%, 1);
	        background: linear-gradient(to bottom, rgba(240, 60, 20, 1.0) 0, rgba(210, 50, 10, 1.0) 100%);
	    }
	}
	.btnLink {
	    font-size: $fz-content;
	    font-weight: 900;
	    text-align: center;
	    display: inline-block;
	    padding: 6px 12px;
	    cursor: pointer;
	    border: 2px solid #f4511e;
	    border-radius: 5px;
	    color: #f4511e;
	    letter-spacing: 2px;
	    transition: all 0.4s;
	    &:hover {
	        background-color: #f4511e;
	        color: #fff;
	    }
	}
	#sorts{
			padding: 25px 15px 15px 15px;		
			.button{				
				&:hover{
					background-color: $orange;
					color:$white;
				}
				&.is-checked{
					background-color: $orange;
					color:$light-gray;
					color: $white;
				}
			}
			span{
				color:$light-gray;
			}
		}
	#filters{
			display: inline-block;
			padding: 15px;
			.button{
				&:hover{
					background-color: $orange;
					color:$white;
				}
				&.is-checked{
				background-color: $orange;
				color:$light-gray;
				color: $white;
				}
			}
			span{
				color:$light-gray;
			}
		}
	.button{
		letter-spacing: 0.05em;
		width: 90px;
		height: 30px;
		padding: 5px;
		margin: 5px;
		text-align: center;
		letter-spacing: 1px;
		color: #000;
		border-radius: 3px;
		cursor: pointer;
		transition: 0.3s;
		border: none;
		font-size: $fz-content;	
		background-color: transparent;
		outline: none;		
	}
	.section_vote{
		.cardWrap{
			.infoIcon{
					display: none;
				}
				:hover .infoIcon{
					padding:0 8px 0 4px;
					display: block;
					position: absolute;
					top: 8px;
					left: 5px;
					// width: 60px;
					border-radius: 10px;
					background-color: #ffaeaf;
					color:white;
					height: 25px;
					vertical-align: -5px;
					span{
						line-height: 25px;
						display: block;					
						vertical-align: -5px;
					}
					img{
						height: 25px;
						width: 25px;
						vertical-align: -5px;
					}
				}
			.card{
				width: 100%;
				background-color: #fdeeca;
				border-radius:15px;
				position:relative;
				overflow:hidden;
				.openLightbox{
					cursor: pointer;
				}
				.cardImgbox{
					width: 100%;
					height: 180px;
					overflow: hidden;
					.cardVoteImg{
						width: 100%;					
					}
				}				
				.text{
					padding: 10px;
				}
				.textTop{
					padding: 5px;
					.number{
						display: inline-block;
						font-size: $fz-content;
						color:$deep-gray;
					}
					.name{
						display: inline-block;
						font-size: $fz-h3;
						padding: 0 0px;
					}
					
				}
				.textDown{
					padding: 5px;
					position: relative;
					span{
						display:inline-block;
						padding: 5px 0;
					}
					.like{
						height: 50px;
						width: 62px;
						position: absolute;
						bottom: 50px;
						right: 10px;
						text-align: center;
						.votes{					
							display: inline-block;
							font-size: $fz-h1;
							color:$light-pink;
							// float: right;

						}						
						img{
							width: 100%;
						}
						.favorite{
							cursor: pointer;
							background: transparent;
  							border: 0;
  							&:focus{
  								outline: 0;
  							}
  							.outsideheart{
  								&:hover{
	  								color: $light-pink;
	  							}	
  								position: relative;
  								font-size: 50px;
  								color: #ffd5cc;
  								.insideheart{
									position: absolute;
									top: 0;
									right: 0;
									opacity: 0.5;
  								}
  							}
  							&.liked{
  								.outsideheart{	  									
  									color: $light-pink;
  									z-index: 0;
  									animation: heart 0.5s;
  									.insideheart{	
  										z-index: 1000;
  										animation: heartHollow 1s;
  									} 
  								}
  							}

						}
					}
				}
				.messageBorad{
					width: 100%;
					padding: 3px 30px;
					position: relative;
					left:0;
					bottom: 0;
					background-color: #f7a05d;
					border-radius: 0 0 15px 15px;
					.member{
						display: inline-block;
						float: left;
						color:$white;
					}
					input{
						font-size: $fz-content;
  						width: 60%;
  						height: 100%;
  						border: none;
  						border-radius: 4px;
  						outline: none;
  						background-color: #f7a05d;
  						display: inline-block;					
						display: none;
					}
					button{
						display: none;
					}
					.post{
						width: 100%;
						height: 30px;
						overflow: hidden;
						line-height: 30px;
						display: inline-block;
						color:#fff;
						// text-shadow:0.3px 0.3px 0.3px $deep-gray;
						word-break: break-all;
						text-align: center;
						span{
							font-size: 17px;
						}
						#lastestMsg{
							text-align: center;
						}
					}
				}
			}
		}		
	}
}

// .heart {
  
// }

@keyframes heart {
	0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.4);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.6);
    opacity: 0.25;
  }
  100% {
    transform: scale(2);
    opacity: 0;
    display: none;
  };
} 


@keyframes heartHollow {
    0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
    color: $light-pink;
  }
  50% {
    transform: scale(1.4);
    color: $light-pink;
  }
  100% {
    transform: scale(1);
    color: $light-pink;
  };
}
