@import "lg";
@import "sm";
@import "xs";

.race{
	body{
		// background-color: #ccc;
	}	
	.main{
		background-color: #f9f7e8;
		position: relative;
	}
	.section_prize{
		width: 100%;
   		height: 100vh;
   		background-image: url("../race_image/r_bgimg.png");
   		background-position: center center;
   		background-color: #ccc;
   		overflow: hidden;		
	}
	.prize_item{
		height: 30vh;
	}
	.container{
		max-width: 1170px;
	}
	.toCompete{
		// width: 100px;
		position: absolute;
		padding: 5px;
		text-align: center;
		
		right: 10px;
		bottom: 20px;
		// margin: auto;
		z-index: 10;
		#competeBtn{
			a{
				padding: 5px 10px;
				background-color: $deep-orange;
				border-radius:15px;
				color:$white;
			}
		}
	}
	.button{
		letter-spacing: 0.05em;
	}
	.section_vote{
		.cardWrap{
			.card{
				background-color: #fdeeca;
				border-radius:15px;
				position:relative;
				overflow:hidden;
				img{
					transition:all 1s;
					width: 100%;
					&:hover{
						// transform: scale(1.1);
					}
				}
				.text{
					padding: 15px;
				}
				.textTop{
					padding: 5px;
					.number{
						display: inline-block;
						font-size: $fz-content;
						color:$deep-gray;
					}
					.name{
						display: inline-block;
						font-size: $fz-h3;
						padding: 0 5px;
					}
					.votes{
						display: inline-block;
						font-size: $fz-h1;
						color:$light-pink;
						float: right;
						}
				}
				.textDown{
					padding: 5px;
					position: relative;
					span{
						display:inline-block;
						padding: 5px 0;
					}
					.like{
						height: 50px;
						width: 50px;
						position: absolute;
						bottom: 50px;
						right: 10px;						
						img{
							width: 100%;
						}
						.favorite{
							cursor: pointer;
							background: transparent;
  							border: 0;
  							&:focus{
  								outline: 0;
  							}
  							.outsideheart{	
  								position: relative;
  								font-size: 50px;
  								color: #ccc;
  								.insideheart{
									position: absolute;
									top: 0;
									right: 0;
									opacity: 0.5;
  								}
  							}
  							&.liked{
  								.outsideheart{	  									
  									color: $light-pink;
  									z-index: 0;
  									animation: heart 0.5s;
  									.insideheart{	
  										z-index: 1000;
  										animation: heartHollow 1s;
  									} 
  								}
  							}

						}
					}
				}
				.messageBorad{
					width: 100%;
					padding: 3px 30px;
					position: relative;
					left:0;
					bottom: 0;
					background-color: #ffb67e;
					border-radius: 0 0 15px 15px;
					.member{
						display: inline-block;
						float: left;
						color:$white;
					}
					input{
						font-size: $fz-content;
  						width: 60%;
  						height: 100%;
  						border: none;
  						border-radius: 4px;
  						outline: none;
  						background-color: #ffb67e;
  						display: inline-block;					
						display: none;
					}
					button{
						display: none;
					}
					.post{
						width: 100%;
						height: 30px;
						overflow: hidden;
						display: inline-block;
						color:$white;
					}
				}
			}
		}		
	}
	.r-cardLightbox{
		position: fixed;
		opacity: 0;
		top: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		.cardContent{
			background-color: rgba(255, 182, 126, 1);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			border-radius: 42px;
			// color: $white;
			// overflow: hidden;
			img{
				width: 100%;		
			}
			.text{
				// padding: 10px;
				.textTop{
					display: block;
					padding: 5px 20px;
					.number{
						font-size: $fz-h4;
						color: $light-gray;					
						vertical-align: middle;
					}
					.name{
						font-size: $fz-h3;						
						vertical-align: middle;
						padding-left: 10px;
					}
					.votes{
						font-size: $fz-h2;
						color: $light-pink;
						font-weight: bold;	
						vertical-align: middle;
						float: right;
						// padding-left: 150px;
					}
				}
				.textDown{
					position: relative;
					padding: 0 20px;
					.like{
						height: 50px;
						width: 50px;
						position: absolute;
						bottom: 0px;
						right: 23px;						
						img{
							width: 100%;
						}
						.favorite{
							cursor: pointer;
							background: transparent;
  							border: 0;
  							&:focus{
  								outline: 0;
  							}
  							.outsideheart{	
  								position: relative;
  								font-size: 50px;
  								color: #ccc;
  								.insideheart{
									position: absolute;
									top: 0;
									right: 0;
									opacity: 0.5;
  								}
  							}
  							&.liked{
  								.outsideheart{	  									
  									color: $light-pink;
  									z-index: 0;
  									animation: heart 0.5s;
  									.insideheart{	
  										z-index: 1000;
  										animation: heartHollow 1s;
  									} 
  								}
  							}
						}
					}
				}		
			}
			.messageBorad{
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				bottom: 0px;
				width: 80%;
				padding: 20px;
				text-align: center;
				background-color: rgba(255, 255, 255, .1);
				border-radius: 20px;
				.post{
					max-height: 100px;
					overflow: hidden;
				}
				.msg{

				}
				.add_table{
					background-color: $deep-orange;
					border-radius:15px;
					padding: 5px 15px;
					font-size: $fz-content;
					color:$white;
					border: 1px solid $deep-orange;
					&:hover{
						border-color: $white;
					}
					&:active{
						position:relative;
						top:1px;
					}
					&:focus {
						outline:0;
					}
				}
			}
		}
		&:target{
			top: 0;
			opacity: 1;
		}
		.r_cross{
			cursor:pointer;
			width: 33px;
            height: 33px;
            position: absolute;
            right: -10px;
            top: -10px;
            border: 2px solid #fff;
            border-radius: 50%;
            text-align: center;
            background-color: rgba(0, 0, 0, .8);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, .8);
            cursor: pointer;
            .fa-times {
                font-size: 20px;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: 4px;
            }
		}
	}




}

// .heart {
  
// }

@keyframes heart {
	0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.4);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.6);
    opacity: 0.25;
  }
  100% {
    transform: scale(2);
    opacity: 0;
    display: none;
  };
} 


@keyframes heartHollow {
    0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
    color: $light-pink;
  }
  50% {
    transform: scale(1.4);
    color: $light-pink;
  }
  100% {
    transform: scale(1);
    color: $light-pink;
  };
}
