@include respones(xs){
	//手機100%
	//直接寫css
	.race{
	//從這開始寫

		#showlightbox{
			.cardlightbox{
				position: relative;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 28;
				margin: auto;
				width: 100%;
				height: 100vh;
				background-color: rgba(0,0,0,.8);
				display: none;			
				.lightbox-box{
					transform:translate(-50% ,-50%);
					position: fixed;
					top: 50%;
					left: 50%;
					// margin: 35px auto;
					width: 0px;
					height: 0px;		
					// border: 1px solid $brown;
					background-color: $bgc;
					// padding: 5px 10px;
					transition:1s;
					// border-radius: 50%;
					border-radius: 15px;
					position: relative;
					box-shadow: 5px 5px 50px $light-gray;
					.lightbox-content{
						background-color:$bgc;
						border-radius: 15px;
						.infobox{		
							height: 100%;
							.petinfo{
								padding: 5px;
								width: 100%;
								height: 100%;
								.maininfo{
									padding: 15px 15px 5px 15px;
									height: 65%;
									width: 100%;
									.txtboxwrap{
											width: 100%;
											margin-top: -20px;							
										.txtbox{
											margin-top: 2px;
											color: #888;
											p{
												color: #888;
											}
											span{
												color: black;
											}
										}	
									}			
									.imgbox{
										text-align: center;
										max-width:280px;
										max-height: 150px;
										overflow: hidden;
										border-radius: 15px;					
										img{
											width: 100%;
											border-radius: 15px;
										}
									}
									.intro{
										display:block;
										border-bottom:1px dashed #ccc;
										p{	
											padding: 3px 0;
											color:#666;
										}			
									}
									.number{
										font-size: $fz-content;
										color: #888;
										font-weight: bold;
									}
									.name{
										padding-left: 10px;
										font-size: $fz-h4;
										// color: $foodColor;
										font-weight: bold;
									}
									.vote{
										font-size: $fz-h4;
										// color: $foodColor;
										font-weight: bold;
									}
								}
								.detailinfo{
									// padding:  0 20px 20px 20px;
									height: 35%;
									width: 100%;
									.detailLeft{
										width: 60%;
										p{
											font-size: $fz-mincontent;
											color:#888;
										}
										span:nth-child(1){
											padding-top: 0px;
										}
										span{
											display: inline-block;
											padding: 1px;
											font-size: 15px;
											// color:$foodColor;
											color:black;	
										}
									}				
									.detailRight{
										width: 40%;
										.like{
											float: right;
											height: 50px;
											width: 62px;
											text-align:center;
											.votes{					
												display: block;
												font-size: $fz-h3;
												color:$light-pink;
											}						
											img{
												width: 100%;
											}
											.favorite{
												cursor: pointer;
												background: transparent;
					  							border: 0;
					  							.wordsVote{
									  				position: absolute;
									  				top: 9px;			  							
									  				left: 8px;
									  				margin: auto;
									  				font-size: 11px;
									  				color:white;			  								
									  			}
					  							&:focus{
					  								outline: 0;
					  								.wordsVote{
														position: absolute;
														top: 9px;			  							
														left: 8px;
														margin: auto;
														font-size: 11px;
														color:white;			  								
													}
					  							}
					  							.outsideheart{			  									
					  								position: relative;
					  								font-size: 40px;
					  								color: #ffd5cc;
					  								// &:hover{
						  							// 	color: $light-pink;
						  							// }
					  								.insideheart{
														position: absolute;
														top: 0;
														right: 0;
														opacity: 0.5;
					  								}
					  							}
					  							&.liked{
					  								.outsideheart{	  									
					  									color: $light-pink;
					  									z-index: 0;
					  									animation: heart 0.5s;
					  									.insideheart{	
					  										z-index: 1000;
					  										animation: heartHollow 1s;
					  									} 
					  								}
					  							}
											}
										}
									}				
								}
							}
						}
						.msgbox{
							height: 100%;
							.msg{
								padding: 5px 20px 20px 20px;
								width: 100%;
								height: 100%;
								.msgContent{
									background-color: #FFF;
									font-size: 15px;
									display:block;
									border-bottom: 1px dotted #ccc;
									padding: 5px 5px 5px 5px;						
									// height: 150px;
									// height: 100%;
									max-height:132px; 																		width: 100%;	
									border-radius:5px;
									overflow: auto;
									word-break: break-all;
									ul{	
										height: 100%;
										border-bottom:1px solid #ccc;
										display: block;

										span{
											width: 100%;									
										}		
									}
								}			
								.msginput{
									border-radius:5px;
									padding: 0 5px;
									width: 100%;
									height: 30px;
									background-color: #fff;
									.somebody{
										display: inline-block;
										.name{
											padding: 3px;
											line-height: 30px;
											font-size: 15px;
										}						
									}
									.msgtype{
										border: none;
										outline:none;
										width: 150px;										
									}
									.cardmsgbutton{
										border:none;
										outline:none;
										border-radius:5px;
										padding: 2px 6px;
										background-color: $foodColor;
										color:$white;
										cursor:pointer;
										&:hover{
											background-color: $sup-orange;
										}
									}
								}					
							}
						}					
						.closeLightBox{
							line-height: 20px;
							text-align: center;
							position: absolute;
							top: -10px;
							right: -10px;
							width: 33px;
							height:33px;
							background-color: rgba(0,0,0,.7);
							border-radius: 50%;
							transition:.3s;
							border:2px solid #ddd;					
							.fa-plus{
								position: relative;
								left: 3px;
								top: -2px;
								padding-top: 10px;
								font-size: 20px;
								color: #fff;
								cursor: pointer;
								transform:rotate(45deg);
							}
						}
					}
				} 		
			}
		}
		.section_prize{
			background-size: cover;
			position: relative;	
		}
		.cloud{
			margin-left: -10px;
			margin-top: 93px;
			padding: 0px 0px 0 0px;
			position: relative;
			img{
				width: 105%;
			}
			p{	
				position:absolute;
				top: 0;
				left:5px;
				right: 0;
				bottom: 5px;
				margin: auto;
				text-align:center;
				height: 0em;
				font-size: 15px;
				color: steelblue;
				font-weight: bold;
				// text-shadow:0.3px 0.3px 0.3px #fd8e2f;
			}
		}
		.cloud1{
			padding: 0;
			text-align:center;
			z-index: 5;
			img{
				width: 90%;
			}
			p{
				color: #fd8e2f;			
			}
			span{
				color:$light-pink;
				font-size: $fz-h4;
			}
		}
		.cloud3{
			margin: -150px;
			display: none;
		}	
		.topthree{
		margin-top: 120px;
		position: absolute;
		width: 100%;
		max-width: 1170px;	
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		.item{
			position: relative;
			width: 100%;
			padding-bottom: 1%;
			display: block;
			.lollipop{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				display: inline-block;
				text-align: center;
				margin-bottom: -10px;
				.hearts{
					vertical-align: middle;
					height: 60px;
					img{
						height: 20px;
						width: 25px;
						display: inline-block;
						vertical-align: middle;
					}
					.count{
						color: $light-pink;
						font-size: $fz-h3;	
						display: inline-block;
						vertical-align: middle;
					}
				}
				.candy{				
					text-align: center;
					position: relative;
					border-radius: 50%;
					border: 5px solid $orange;	
					width: 27vw;
					height: 27vw;
					margin: 0 auto;
					overflow: hidden;
					img{	
						height: 100%;					
						// max-width: 150px;
						// width: 100%;
						// border-radius: 50%;
						// border: 10px solid $orange;					
					}
					.name{
						position: absolute;
						right: 0;
						left: 0;
						margin: 0 auto;
						bottom: 5px;
						color: white;
						font-size: $fz-content;
						text-shadow:0.3px 0.3px 0.3px black;
			}
					}
				}
				.stick{
					// position: relative;
					// z-index: -1;
					margin-top: -50px;
					width: 10px;
					height: 50px;
					display: inline-block;
					background-color: $orange;
					// &:after{
					// 	content:'';
					// 	position: absolute;
					// 	bottom: 0;
					// 	right: 0;
					// 	left: 0;
					// 	margin: auto;
					// 	background-color: $orange;
					// 	display: block;
					// 	width: 15px;
					// 	height: 100%;

					// }
				}

				
			}
				
			// .hearts{
			// 	width: 80%;
			// 	margin:0 auto;
			// 	text-align: center;
			// 	img{
			// 	width: 70px;
			// 	height: 60px;
			// 	vertical-align:middle;
			// 	}
			// 	span{
			// 		font-size: $fz-h2;
			// 		color: $light-pink;
			// 	}
			// }
			// .lollipop{
			// 	position: relative;
			// 	height: 420px;				
				
			// 	.stick{
			// 		position: absolute;
			// 		bottom: 0;
			// 		left: 0;
			// 		right: 0;
			// 		margin:0 auto;
			// 		width: 50%;
			// 		height: 420px;
			// 		background-color: rgba(255, 255, 255, 0);
			// 		text-align: center;
			// 		.candy{
			// 			position: absolute;
			// 			margin:0 auto;
			// 			width: 90%;
			// 			padding-bottom: 90%;
			// 			background-color: $orange;
			// 			border-radius:100%;
			// 			img{
			// 				position: absolute;
			// 				top: 0;
			// 				left:0;
			// 				right:0;
			// 				bottom: 0;
			// 				margin: auto;
			// 				width: 90%;
			// 			}
			// 			.name{
			// 				position: absolute;
			// 				left:0;
			// 				right:0;
			// 				bottom: 20px;
			// 				text-align:center;
			// 				font-size: $fz-h1;
			// 				color:$white;
			// 			}
			// 		} 
			// 	}
			// 	.stick:after{
			// 		content:'';
		
			// 		width: 10px;
			// 		background-color: #fff;
			// 		display: block;
			// 	}
			// 	.stick1{
			// 		padding-bottom: 50%;
			// 	}
			// 	.stick2{
			// 		padding-bottom: 0%;
			// 	}
			// 	.stick3{
			// 		padding-bottom: 30%;
			// 	}

			// }
			}

		}
		.r-cardLightbox{
			.cardContent{
			width: 350px;
			height: 500px;
			}
		}	
		#sorts{
			.button{
				letter-spacing: 0.05em;
				width: 60px;
				height: 30px;
				padding: 2px;
				margin: 2px;
				text-align: center;
				letter-spacing: 1px;
				color: #000;
				border-radius: 3px;
				cursor: pointer;
				transition: 0.3s;
				border: none;
				font-size: $fz-content;	
				background-color: transparent;
				outline: none;		
			}
			padding: 10px 0px 5px 0px;
			span{
				font-size:14px; 	
			}
			.buttonWrap{
				display:block;
			}
	    }
	.searchWrap{
				display: none;
				position: relative;
				float: right;
				margin-right: 25px;
				padding: 0px 0px 0px 0px;
				display: inline-block;
			#search{	
				input{
					border:2px solid $orange;
					border-radius:5px;
					padding: 5px;
					outline:none;
					width: 100px;
				}
				#searchBtn{
					position: absolute;
					bottom: 15px;
					font-size: 20px;
					border-radius:5px;
					vertical-align:middle;
					left: 75%;
					background-color: $orange;
					width: 40px;
					outline:none;
					border:2px solid $orange;
					i{
						height: 100%;
						color:$white;
					}
				}
			}
		}
	#filters{
		.buttonWrap{
			display:block;
		}
		.button{
			letter-spacing: 0.05em;
			width: 60px;
			height: 30px;
			padding: 2px;
			margin: 2px;
			text-align: center;
			letter-spacing: 1px;
			color: #000;
			border-radius: 3px;
			cursor: pointer;
			transition: 0.3s;
			border: none;
			font-size: $fz-content;	
			background-color: transparent;
			outline: none;		
		}
		padding: 0px 0 0px 0;
		display: inline-block;
		span{
			font-size: 14px;
		}	
	}
		.cardWrap{
			padding: 30px 30px;
			.wordsVote{
  				position: absolute;
  				top: 9px;			  							
  				left: 8px;
  				margin: auto;
  				font-size: 16px;
  				color:white;			  								
  			}
		}
	

}