@import "lg";
@import "sm";
@import "xs";
@import "jquery.fullPage";

$allColor: #557095;
$shareColor: #8CD899;
$healthColor: #57B1DA;
$newColor: #D9ABE6;
$foodColor: #F4A66F;
#fp-nav span,
.fp-slidesNav span {
    border-color: #aaa;
}

#fp-nav li .active span,
.fp-slidesNav .active span {
    background: #aaa;
}

.index {

img{
    width: 100%;
}
    .clear {
        clear: both;
    }
    .scroll-icon {
        width: 40px;
        // height: 60px;
        color: #ff9100;
        font-size: 40px;
        text-align: center;
        position: absolute;

        margin: auto;
        left: 0;
        right: 0;
        // bottom: 20px;
        z-index: 99;
        animation: scrollDown 2s infinite;
    }
    @keyframes scrollDown {
        0%,
        20%,
        50%,
        80%,
        100% {
            bottom: 0;
        }
        40% {
            bottom: 30px;
        }
        60% {
            bottom: 15px;
        }
    }
    .PageOne {
        height: 100vh;
        width: 100vw;

        background: url(../img/nature-sprite.png) no-repeat -9999px -9999px;
        // overflow-y: hidden;
        .page-view {
            background: url(../img/nature-sprite-2.png) no-repeat -9999px -9999px;
        }

        .page-view .project:nth-child(1) {
            background-image: url(../img/dog1.jpg);
            -ms-background-image: url(../img/dog1.jpg);
        }

        .page-view .project:nth-child(2) {
            background-image: url(../img/dog2.jpg);
        }

        .page-view .project:nth-child(3) {
            background-image: url(../img/dogbg1.jpg);
        }

        .page-view .project:nth-child(4) {
            background-image: url(../img/dog4.jpg);
        }

        .page-view .project:nth-child(even).hide {
            -webkit-mask: url(../img/nature-sprite.png);
            mask: url(../img/nature-sprite.png);
            -webkit-mask-size: 2300% 100%;
            mask-size: 2300% 100%;
            -webkit-animation: mask-play 1.4s steps(22) forwards;
            animation: mask-play 1.4s steps(22) forwards;
        }

        .page-view .project:nth-child(odd).hide {
            -webkit-mask: url(../img/nature-sprite-2.png);
            mask: url(../img/nature-sprite-2.png);
            -webkit-mask-size: 7100% 100%;
            mask-size: 7100% 100%;
            -webkit-animation: mask-play 1.4s steps(70) forwards;
            animation: mask-play 1.4s steps(70) forwards;
        }
        .page-view {
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
        }
        .page-view .project {
            position: absolute;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .page-view .project .text{
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, .2);
        }
        .page-view .project .text h1 {
            font-family: 微軟正黑體;
            color: #fff;
            position: absolute;
           
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            display: table;
            text-align: center;
        }
        .page-view .project:nth-child(1) {
            z-index: 30;
        }
        /*===================================*/
        @-webkit-keyframes mask-play {
            from {
                -webkit-mask-position: 0% 0;
                mask-position: 0% 0;
            }
            to {
                -webkit-mask-position: 100% 0;
                mask-position: 100% 0;
            }
        }
        @keyframes mask-play {
            from {
                -webkit-mask-position: 0% 0;
                mask-position: 0% 0;
            }
            to {
                -webkit-mask-position: 100% 0;
                mask-position: 100% 0;
            }
        }
        svg {
            position: absolute;
            z-index: 300;
            margin: auto;
            width: 100%;
        }
        .ccc{
            width: 100%;
            height: 100vh;
            position: fixed;
            display: none;
            z-index: 500;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .6);
        }
                .dateRoom{
            background-color: rgba(249, 247, 232, .8);
            // position: relative;
            border-radius: $border-radius;
            box-shadow: 3px 3px 10px #ccc;
            
        }


        .b-select-date{
            width: 300px;//日曆寬度
            display:none;  //隱藏
            position: absolute;
            margin: auto;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%); 
            &:after{
                content: '';
                display: block;
                width: 0;
                clear: both;
            }
            .year{
                font-size: 40px;
            }
            .month{
                font-size: 50px;
            }
            .select-month{
                position: relative;
                .after{
                    border-left: 20px solid #666;
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-right: 20px solid transparent;
                    position: absolute;
                    top:20px;
                    right: 0;
                    cursor: pointer;
                    transition:.3s;
                    &:hover{
                        transform:translateX(5px);
                    }
                    
                }
                .before{
                    border-right: 20px solid #666;
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-left: 20px solid transparent;
                    position: absolute;
                    top: 20px;
                    left:0;
                    cursor: pointer;
                    transition:.3s;
                    &:hover{
                        transform:translateX(-5px);
                    }
                }
            }
            .days{
                padding-right: 10px;
                #table{
                    width: 100%;
                    font-size: 0;
                    .dayBox{
                        width: 14.285%;
                        // height: 50px;
                        line-height: 50px;
                        font-size: 20px;
                        text-align: center;
                        float: left;                    

                    }
                    .day{
                        border-radius: 50%;
                        width: 100%;
                        transition:.2s;
                        height: 0;
                        padding-bottom: 100%;   
                        
                    }
                    .dayPointer{
                        cursor: pointer;
                    }
                    .daycant{
                        opacity: .5;
                    }
                }
                #table:after,.weekend:after{
                    content: '';
                    display: block;
                    clear: both;    
                }
                .week{
                    float: left;
                    font-size: 0;
                    width: 14.285%;
                    text-align: center;
                    height: 50px;
                    line-height: 50px;
                }
                .weekday{
                    font-size: 16px;
                    font-weight: bold;
                }
                .weekend{
                    width: 100%;
                }
                
                    
            }
            
        }

        //叉叉
        .closeLightBox{
                        line-height: 20px;
                        text-align: center;
                        position: absolute;
                        top: -10px;
                        right: -10px;
                        width: 33px;
                        height:33px;
                        background-color: rgba(0,0,0,.7);
                        border-radius: 50%;
                        transition:.3s;
                        border:2px solid #ddd;
                        
                        
                        
                        .fa-plus{
                            position: relative;
                            left: 3px;
                            top: -2px;
                            padding-top: 10px;
                            font-size: 20px;
                            color: #fff;
                            cursor: pointer;
                            transform:rotate(45deg);
                        }
                    }
        .orderTable {
            position: absolute;
            margin: auto;
            z-index: 300;
            text-align: center;
            background-color: #DAA356;
            // padding: 5px;    
                a {
                    color: #DAA356;
                    border:0px;
                    display: inline-block;
                    outline: 0px;
                    // line-height:25px;
                    height: 25px;
                    padding:0 5px;
                    // background-color: #DAA356;
                    background-color: rgba( 0, 0, 0, 0.6);
                    // border: none;
                    // color:#fff;
                }
                .orderText{ 
                    color:#000;
                    line-height:25px;
                }
                .bin-calendar{
    
    $b-red:#EB3F4B;
    
    float:left;
    .i-dateClick{//按鈕樣式
        cursor: pointer;
        position: relative;
        color: #fff;
        height: 25px;
        border: 1px solid #999;
    }
    // .dateResult{
    //         div{
    //             padding: 10px 5px;
    //             span{
    //                 font-size: 20px;
    //                 color: $b-red;
    //                 font-weight: bold;
    //             }
    //         }
    //     }


                }
            
        }
    }
    /*Page One end*/
    .PageTwo {
        height: 100vh;
        width: 100vw;
        background-image: url(../img/bg02.png);
            img {
            width: 100%;
            vertical-align: middle;
        }.box{
            max-width: 1100px;
            width: 100%;
           
        }
        .house {
            // vertical-align: top;
            position: relative;
            background-color: #fff;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            cursor: pointer;

        }
    
        .house >div {
            width: 100%;
            height: 100%;
            color: #fff;
            // text-align: center;
            line-height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.4);
        }
        .house div span:first-child {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            font-size: 30px;
        }
        .house div span {
            display: block;
            padding: 10px 0;
            margin: 40px 20px 20px 20px;
            // border-bottom: 1px solid rgba(255,255,255,0.5);
        }
        #lightbox{
        	display: none;
        	width: 100vw;
        	height: 100vh;
        	position: absolute;
        	box-sizing:border-box;
        	padding: 250px 250px 200px;
        	color: #fff;
        	background-color: rgba(0, 0, 0, .5);

        	top: 0;
        	left: 0;
        	z-index: 3000;
        	.pic{
        		width: 60%;
        		float: left;
        		padding: 5px;
        		background-color: #fff;
        	}
        	.text{
        		width: 40%;
        		float: left;
        		// text-align: center;
        		box-sizing:border-box;
        		padding: 40px;
        		h3{
        			padding: 10px 10px 10px 0;
        			border-bottom: 1px solid #fff;
        			font-size: 30px;

        		}
        		p{
        			color: #fff;
                    padding:20px 0;
        		}
        		a{
        			padding: 5px;
        			display: inline-block;
                    margin-top:50px;
        			border: 2px solid #DAA356;
        			text-decoration: none;
        			color: #DAA356;
        		}
        	}
        }
        // .house-01{
        // 	transform: scale(1.5,1.5) translate(40% ,-50%) rotate(15deg);
        // }
        // .house-02{
        // 	transform: scale(1.5,1.5) translate(0% ,-50%) rotate(5deg);
        // }
        // .house-03{
        // 	transform: scale(1.5,1.5) translate(-30% ,-50%) rotate(-10deg);
        // }
        // .house-04{
        // 	transform: scale(1.5,1.5) translate(45% ,-85%) rotate(15deg);
        // }
        // .house-05{
        // 	transform: scale(1.5,1.5) translate(0% ,-85%) rotate(5deg);
        // }
        // .house-06{
        // 	transform: scale(1.5,1.5) translate(-60% ,-105%) rotate(-10deg);
        // }
        .hmoveA {
            animation: hmoveA 1.2s 1s both;
        }
        .hmoveB {
            animation: hmoveB 1.2s 1s both;
        }
        .hmoveC {
            animation: hmoveC 1.2s 1s both;
        }
        .hmoveD {
            animation: hmoveD 1.2s 1s both;
        }
        .hmoveE {
            animation: hmoveE 1.2s 1s both;
        }
        .hmoveF {
            animation: hmoveF 1.2s 1s both;
        }
        @keyframes hmoveA {
            from {
                transform: scale(1.5, 1.5) translate(140%, -50%) rotate(-15deg);
            }
            to {
                transform: scale(1, 1) translate(0%, 0%) rotate(0deg);
            }
        }
        @keyframes hmoveB {
            from {
                transform: scale(1.5, 1.5) translate(-50%, -50%) rotate(5deg);
            }
            to {
                transform: scale(1, 1) translateX(0%) rotate(0deg);
            }
        }
        @keyframes hmoveC {
            from {
                transform: scale(1.5, 1.5) translate(-130%, -50%) rotate(10deg);
            }
            to {
                transform: scale(1, 1) translateX(0%) rotate(0deg);
            }
        }
        @keyframes hmoveD {
            from {
                transform: scale(1.5, 1.5) translate(145%, -85%) rotate(-15deg);
            }
            to {
                transform: scale(1, 1) translateX(0%) rotate(0deg);
            }
        }
        @keyframes hmoveE {
            from {
                transform: scale(1.5, 1.5) translate(50%, -85%) rotate(5deg);
            }
            to {
                transform: scale(1, 1) translateX(0%) rotate(0deg);
            }
        }
        @keyframes hmoveF {
            from {
                transform: scale(1.5, 1.5) translate(-160%, -105%) rotate(10deg);
            }
            to {
                transform: scale(1, 1) translateX(0%) rotate(0deg);
            }
        }
        
    }
    /*Page Two end*/
    .PageThree {
        height: 100vh;
        width: 100vw;
        background:url(../img/dog3.jpg);
		background-size: cover;
		background-repeat: no-repeat;
        position: relative;
        .blackbg{
            
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .1);
            z-index: 1;
        }
        header{
             color: #fff;
        }
        .grid {
            overflow: hidden;
            cursor: pointer;

        }

        /*---------------*/
        /***** Marley *****/
        /*---------------*/
        figure.effect-marley figcaption {
            text-align: center;
        }
        figure.effect-marley h2,
        figure.effect-marley p {
            position: absolute;
            right: 30px;
            left: 30px;
            padding: 10px 0;
            color: #fff;
            transition: 1s;
        }
        figure.effect-marley p {
            bottom: 30px;
            line-height: 1.5;
            transform: translate3d(0, 100%, 0);
        }
        figure.effect-marley h2 {
            background-color: rgba(0, 0, 0, .6);
            bottom: 60px;
            transition:1s;
            transform: translate3d(0, 20px, 0);
        }
        figure.effect-marley.open:hover h2 {
            transform: translate3d(0, 0, 0);
            bottom:320px;
            transition: 1s;
        }
        figure.effect-marley p {
            opacity: 0;
            transition: opacity 1s, transform 1s;
        }
        figure.effect-marley.open:hover h2::after,
        figure.effect-marley.open:hover p {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        
        #preview-coverflow {
            position: absolute;
            margin: auto;
            bottom: 120px;
            left: 0;
            right: 0;
            z-index: 2000;
        }

    }
    /*Page Three end*/
    .PageFour {
        width: 100vw;
        height: 100vh;
        img{
            width: 100%;
        }
        height: 100vh;
        overflow: hidden;
        .header {
            text-align: center;
        }
        .photostack {
            background-image:url(../img/bgBody.jpg);
            position: relative;
            text-align: center;
            height: 100vh;
        }
        /* Wrapper and figures */
        /* The size of this wrapper can be smaller if the items should not be scattered across the whole container */
        .photostack > div {
            width: 100vw;
            height: 100vh;
            margin: 0 auto;
        }
        .photostack figure {
            width: 320px;
            height: 360px;
            position: relative;
            display: inline-block;
            background: #f0f0f0;
            border-radius: 15px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
            // padding: 40px;
            text-align: center;
            margin: 5px;
            .card{
                background-color: #fdeeca;
                border-radius:15px;
                position:relative;
                overflow:hidden;
                a{
                    display:block;
                    height: 210px;
                    width: 100%;
                    overflow:hidden;
                }
                img{
                    transition:all 1s;
                    width: 100%;
                    &:hover{
                        // transform: scale(1.1);
                    }
                }
                .text{
                    padding: 0 15px;
                }
                .textTop{
                    padding: 5px;
                    text-align: left;
                    .number{
                        display: inline-block;
                        font-size: $fz-content;
                        color:$deep-gray;
                    }
                    .name{
                        display: inline-block;
                        font-size: $fz-h3;
                        padding: 0 5px;
                    }
                    .votes{
                        display: inline-block;
                        font-size: $fz-h1;
                        color:$light-pink;
                        float: right;
                        }
                }
                .textDown{
                    padding: 5px;
                    position: relative;
                    text-align: left;
                    span{
                        display:inline-block;
                        padding: 5px 0;
                    }
                    .like{
                        height: 50px;
                        width: 50px;
                        position: absolute;
                        bottom: 50px;
                        right: 10px;                        
                        img{
                            width: 100%;
                        }
                        .favorite{
                            cursor: pointer;
                            background: transparent;
                            border: 0;
                            &:focus{
                                outline: 0;
                            }
                            .outsideheart{  
                                position: relative;
                                font-size: 50px;
                                color: #ccc;
                                .insideheart{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    opacity: 0.5;
                                }
                            }
                            &.liked{
                                .outsideheart{                                      
                                    color: $light-pink;
                                    z-index: 0;
                                    animation: heart 0.5s;
                                    .insideheart{   
                                        z-index: 1000;
                                        animation: heartHollow 1s;
                                    } 
                                }
                            }

                        }
                    }
                }
            }
        }
        .photostack figure {
            position: absolute;
            display: block;
            margin: 0;
        }
        .photostack figcaption h2 {
            margin: 20px 0 0 0;
            color: #a7a0a2;
            font-size: 16px;
        }
        .photostack-img {
            outline: none;
            display: block;
            width: 240px;
            background: #f9f9f9;
        }
        /* Navigation dots */
        .photostack nav {
            position: absolute;
            width: 100%;
            bottom: 50px;
            z-index: 90;
            text-align: center;
            left: 0;
            -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
        }
        .photostack-start nav {
            opacity: 0;
        }
        .photostack nav span {
            position: relative;
            display: inline-block;
            margin: 0 5px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            background: #ffa800;
            border-radius: 50%;
            text-align: center;
            -webkit-transition: -webkit-transform 0.6s ease-in-out, background 0.3s;
            transition: transform 0.6s ease-in-out, background 0.3s;
            -webkit-transform: scale(0.48);
            transform: scale(0.48);
        }
        .photostack nav span:last-child {
            margin-right: 0;
        }
        .photostack nav span::after {
            content: "\e600";
            font-family: 'icons';
            font-size: 80%;
            speak: none;
            display: inline-block;
            vertical-align: top;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 30px;
            color: #fff;
            opacity: 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        .photostack nav span.current {
            background: #888;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        .photostack nav span.current.flip {
            -webkit-transform: scale(1) rotateY(-180deg) translateZ(-1px);
            transform: scale(1) rotateY(-180deg) translateZ(-1px);
            background: #555;
        }
        .photostack nav span.flippable::after {
            opacity: 1;
            -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
        }
        /* Overlay on figure */
        .photostack figure::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            top: 0;
            left: 0;
            visibility: visible;
            opacity: 1;
            background: rgba(0, 0, 0, 0.5);
            -webkit-transition: opacity 0.6s;
            transition: opacity 0.6s;
        }
        /* Hide figure overlay when it becomes current */
        figure.photostack-current::after {
            -webkit-transition: opacity 0.6s, visibility 0s 0.6s;
            transition: opacity 0.6s, visibility 0s 0.6s;
            opacity: 0;
            visibility: hidden;
        }
        /* Special classes for transitions and perspective */
        .photostack-transition figure {
            transition: transform 0.6s ease-in-out;
        }
        .photostack-perspective {
            -webkit-perspective: 1800px;
            perspective: 1800px;
        }
        .photostack-perspective > div,
        .photostack-perspective figure {
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
        .photostack-perspective figure,
        .photostack-perspective figure div {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        .photostack-perspective figure.photostack-flip {
            -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
        }
        .csstransformspreserve3d figure.photostack-flip .photostack-back {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
            display: block;
        }
        .no-csstransformspreserve3d figure.photostack-showback .photostack-back {
            display: block;
        }
        /* The no-JS fallback look does not need to be boring ;) */
        .no-js .photostack figure {
            box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.05);
        }
        .no-js .photostack figure::after {
            display: none;
        }
        .no-js .photostack figure:nth-child(3n) {
            -webkit-transform: translateX(-10%) rotate(5deg);
            transform: translateX(-10%) rotate(5deg);
        }
        .no-js .photostack figure:nth-child(3n-2) {
            -webkit-transform: translateY(10%) rotate(-3deg);
            transform: translateY(10%) rotate(-3deg);
        }
        #photostack-1 nav span.current {
            background: #888;
            -webkit-transform: scale(0.61);
            transform: scale(0.61);
        }
    }
    /*Page Four end*/
    .PageFive {
        width: 100vw;
        height: 100vh;
        .home_dis {
            width: 100vw;
            height: 100vh;
            background-color: #000;
            display: flex;
            overflow: hidden;
        }
        .disclass {
            width: 25%;
            height: 100vh;
            display: block;
            position: relative;
            transition: .5s;
            float: left;
        }
        .disclass:hover {
            width: 40%;
        }
        .disclass.open {
            width: 80%;
        }
        .disclass1 {
            background: url(../img/pg4-img1.jpg);
            background-size: cover;
            background-position: 50%;
        }
        .disclass2 {
            background: url(../img/pg4-img2.jpg);
            background-size: cover;
            background-position: 50%;
        }
        .disclass3 {
            background: url(../img/pg4-img1.jpg);
            background-size: cover;
        }
        .disclass4 {
            background: url(../img/pg4-img2.jpg);
            background-size: cover;
            background-position: 50%;
        }
        .disclass .distitle {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .4);
            transition: .5s;
            cursor: pointer;
        }
        .disclass .distitle:hover {
            background-color: rgba(0, 0, 0, 0);
        }
        .disclass .distitle h2 {
            position: absolute;
            text-align: center;
            color: #fff;
            margin: auto;
            right: 0;
            left: 0;
            top: 50%;
            transition: .5s;
        }
        .disclass.open .distitle h2 {
            top: 90%;
            opacity: 0;
        }
        .disclass .disInfo {
            width: 90%;
            // height: 100px;
            // background-color: #ccc;
            transition: 1.2s;
            border-radius: 10px;
            position: absolute;
            top: 110%;
            margin: auto;
            left: 0;
            right: 0;
            opacity: 0;

            .post {
                    background-color: rgba(255, 255, 255, .8);
                    width: 100%;
                    margin-bottom: 20px;
                    position: relative;
                    transition: box-shadow .4s ease;
                    &:hover {
                        box-shadow: 0px 1px 3px #555;
                    }
                    .postImg {
                        overflow: hidden;
                        float: left;
                        text-align: center;
                        padding-top: 50px;
                    }
                    .txt {
                        float: left;
                        height: auto;
                        &>div {
                            margin-bottom: 5px;
                        }
                        .postTitle a {
                            color: $deep-gray;
                            &:hover {
                                color: $brown;
                            }
                        }
                        .postDate {
                            color: $light-gray;
                        }
                        .postContent {
                            overflow: hidden;
                            max-height: 44px;
                        }
                        .postInfo {
                            font-size: $fz-mincontent;
                            color: $light-gray;
                            .author {
                                margin-right: 5px;
                            }
                            .watch:before {
                                content: '\f06e';
                                font-family: fontAwesome;
                                margin-right: 5px;
                            }
                            .message:before {
                                content: '\f27a';
                                font-family: fontAwesome;
                                margin-right: 5px;
                            }
                        }
                    }
                    .itemLabel {
                        position: absolute;
                        left: 15px;
                        top: 15px;
                        width: 90px;
                        height: 30px;
                        padding: 5px;
                        color: #fff;
                        text-align: center;
                        border-radius: 3px;
                        &.foodLabel {
                            background-color: $foodColor;
                        }
                        &.shareLabel {
                            background-color: $shareColor;
                        }
                        &.healthLabel {
                            background-color: $healthColor;
                        }
                        &.newLabel {
                            background-color: $newColor;
                        }
                    }
                }
        }
        .disclass.open .disInfo {
            top: 25%;
            opacity: 1;
        }
    }
    /*Page Five end*/
}


