@include respones(md) {
    //桌機 container 1170
    //直接寫css
    #index-lightbox.pg2 {
        position: fixed;
        padding: 10% 250px;
        opacity: 1;
        .pic {
            width: 60%;
            float: left;
            padding: 5px;
            background-color: #fff;
            img {
                opacity: 1;
            }
        }
        .text {
            width: 40%;
            height: 500px;
            float: left;
            text-align: center;
            // box-sizing: border-box;
            // padding: 40px;
            img{
                opacity: 1;
                
            }
            .right {
                width: 200px;
                display: inline-block;
                .inside{
                    width: 98%;
                    vertical-align:middle;
                    display: inline-block;
                   h2 {
                        padding: 10px 10px 10px 0;
                        border-bottom: 1px solid #fff;
                        font-size: 30px;
                    }

                    p {
                        color: #fff;
                        padding: 20px 0;
                    }

                    a {
                        padding: 5px;
                        display: inline-block;
                        margin-top: 50px;
                        border: 2px solid #DAA356;
                        text-decoration: none;
                        color: #DAA356;
                    }
 
                }
                
            }
            .right:before{
                    content: "";
                    width: 0;
                    height: 500px;
                    display: inline-block;
                    background-color:#f00;
                    vertical-align:middle;
                }
            .left{
                width: 100px;
                display: inline-block;
                vertical-align:middle;
                .imgbox>div{
                    padding: 10px;
                }
            }
        }
    }
    .index {
        //從這開始寫
        .PageOne {
            .page-view .project .text h2 {
                font-size: 50px;
                top: 60%;
            }
            svg {
                top: 15%;
                max-width: 600px;
            }
            .orderTable {
                padding: 15px;
                left: 50%;
                top: 75%;
                transform: translate(-50%, -50%);
                .btnDiv {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 80px 0 25px;
                }
                .i-dateClick {
                    width: 300px;
                    padding: 6px 12px;
                    margin: 0 25px 0 80px;
                }
            }
        }
        /*PageOne end*/
        .PageTwo {
            header {
                padding: 70px 0 30px;
                text-align: center;
                font-size: 35px;
            }
            .box {
                max-width: 1245px;
                width: 100%;
                margin: auto;
                box-sizing: border-box;
                // padding-top: 30px;
            }
            .colum {
                width: 400px;
                margin: 10px 0 20px;
                float: left;
            }
            .colum:nth-child(2),
            .colum:nth-child(5) {
                margin: 10px 20px 20px 25px;
            }
            .house {
                // float: left;
                width: 100%;
                overflow: hidden;
            }
        }
        /*PageTwo end*/
        .PageThree {
            header {
                padding: 150px 0 0px;
                text-align: center;
                font-size: 35px;
            }
            img {
                width: 700px;
                border-radius: 50%;
                overflow: hidden;
            }
            .blackbg {
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, .1);
                z-index: 1;
            }
            .osxCountainer {
                width: 1200px;
                height: 100%;
                margin: auto;
                position: relative;
            }
            .osx-dock {
                width: 1020px;
                position: absolute;
                margin: auto;
                top: 60%;
                left: 50%;
                transform: translate(-50%);
            }
            .osx-dock .dock {
                float: left;
                width: 150px;
                height: 150px;
                transform-origin: center bottom;
                border-radius: 50%;
                transition: 2s;
                overflow: hidden;
                position: relative;
                text-align: center;
                margin: 0 10px 0;
                transform: scale(1);
                z-index: 300;
                -webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
            }
            .osx-dock .dock .fornt {
                display: block;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                border: 2px solid #fff;
                border-radius: 50%;
                overflow: hidden;
                transform: perspective(600px) rotateY(0deg);
                position: absolute;
                transform: scale(1);
                left: 0;
                top: 0;
                transition: 1.7s;
            }
            .osx-dock .dock .iback {
                display: block;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                border: 2px solid #fff;
                border-radius: 50%;
                transform: rotateY(180deg);
                position: absolute;
                overflow: hidden;
                left: 0;
                top: 0;
                transition: 1.7s;
                a{
                     // padding: 5px;
                        // display: inline-block;
                        // margin-top: 50px;
                        // border: 2px solid #DAA356;
                        text-decoration: none;
                        color: #DAA356;
                }
                p{
                    margin: 30px auto;
                    width: 100px;
                    height: 100px;
                    font-size: 0.5px;
                    overflow: hidden;
                    text-align: justify;

                    // text-overflow: ellipsis;
                    // white-space: nowrap
                }
            }
        }
        /*PageThree end*/
        .PageFour {
            .toback {
                display: none;
            }
        }
        /*PageFour end*/
        .PageFive {
            .home_dis {
                width: 100%;
                height: 100vh;
                display: flex;
            }
            .disclass {
                width: 25%;
                height: 100%;
                display: block;
                position: relative;
                transition: 1.7s;
            }
            .disclass .distitle h2 {
                position: absolute;
                text-align: center;
                color: #fff;
                margin: auto;
                right: 0;
                left: 0;
                top: 50%;
                transition: .5s;
            }
            .disclass.open .distitle h2 {
                top: 90%;
                opacity: 0;
            }
            .disclass:hover {
                width: 40%;
            }
            .disclass.open {
                width: 80%;
            }
            .disclass .disInfo {
                width: 90%;
                height: 100%;
                transition: 1.2s;
                border-radius: 10px;
                position: absolute;
                top: 150%;
                margin: auto;
                left: 0;
                right: 0;
                opacity: 0;
                .post {
                    background-color: rgba(255, 255, 255, .8);
                    width: 100%;
                    max-height: 150px;
                    height: 180px;
                    padding: 20px;
                    margin-bottom: 20px;
                    position: relative;
                    transition: box-shadow .4s ease;
                    &:hover {
                        box-shadow: 0px 1px 3px #555;
                    }
                    .itemLabel {
                        position: absolute;
                        left: 0px;
                        top: 15px;
                        width: 90px;
                        height: 30px;
                        padding: 5px;
                        color: #fff;
                        text-align: center;
                        transform:rotate(-30deg); 
                        border-radius: 3px;
                        
                    }
                    .postImg {
                        overflow: hidden;
                        float: left;
                        text-align: center;
                        width: 20%;
                        height: 120px;
                        a{
                            width: 100px;
                            height: 100px;
                        }
                        img{
                            width: 100%;
                            // height: 100px;
                        }
                    }
                    .txt {
                        float: left;
                        height: auto;
                        width: 80%;
                        padding: 0 15px;
                        &>div {
                            margin-bottom: 5px;
                        }
                        .postTitle a {
                            color: $deep-gray;
                            &:hover {
                                color: $brown;
                            }
                        }
                        .postDate {
                            color: $light-gray;
                        }
                        .postContent {
                            overflow: hidden;
                            max-height: 44px;
                            text-overflow: ellipsis;
                            white-space: nowrap
                        }
                        .postInfo {
                            font-size: $fz-mincontent;
                            color: $light-gray;
                            .author {
                                margin-right: 5px;
                            }
                            .watch:before {
                                content: '\f06e';
                                font-family: fontAwesome;
                                margin-right: 5px;
                            }
                            .message:before {
                                content: '\f27a';
                                font-family: fontAwesome;
                                margin-right: 5px;
                            }
                        }
                    }
                    
                }
            }
        }
        /*PageFive end*/
    }
}

@media screen and (max-height:800px) and (min-width:993px) {
    

    .index {
        .PageTwo {
            .box {
                max-width: 795px;
                width: 100%;
                margin: auto;
                box-sizing: border-box;
            }
            .colum {
                width: 250px;
                float: left;
            }
            .colum:nth-child(2),
            .colum:nth-child(5) {
                margin: 10px 20px 20px 25px;
            }
        }
    }
}
