@include respones(xs) {
    //手機100%
    //直接寫css
    #index-lightbox.pg2 {
        opacity: 1;
        width: 100vw;
        height: 100vh;
        color: #fff;
        position: fixed;
        padding: 60px 5px 5px;
        background-color: rgba(0, 0, 0, .5);
        z-index: 9000;
        .pic {
            width: 100%;
            max-width: 310px;
            margin: auto;
            
            background-color: #fff;

            img {
                opacity: 1;
            }
        }
        .text {
            width: 100%;
            text-align: center;
            .left {
                width: 100%;
                .imgbox{
                    padding-top: 5px;
                    width: 100%;
                    margin: auto;
                }
                .img{
                    // padding: 5px;
                    display: inline-block;
                    width: 100px;
                    img{
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
            .right {
                width: 100%;
                h2 {
                    padding: 10px 0 0;
                    // border-bottom: 1px solid #fff;
                }
                p {
                    margin: 10px 0;
                    color: #fff;
                }
                a {
                    margin: 10px 0;
                    padding: 5px;
                    display: inline-block;
                    text-decoration: none;
                    color: #DAA356;
                    border: 2px solid #DAA356;
                }
            }
        }
    }
    #index-lightbox.pg3 {
        opacity: 1;
        width: 100vw;
        height: 100vh;
        color: #fff;
        position: fixed;
        padding: 60px 5px 5px;
        background-color: rgba(0, 0, 0, .5);
        z-index: 9000;
         .left{
            display: none;
        } 
        .pic {
            width: 90%;
            padding: 5px;
            margin: 20px auto;
            background-color: #fff;
            border-radius: 50%;
            position: relative;
            p{
                    margin: 50px auto;
                    width: 200px;
                    height: 200px;
                    font-size: 18px;
                    overflow: hidden;
                    text-align: justify;

                    // text-overflow: ellipsis;
                    // white-space: nowrap
                }
            img {
                border-radius: 50%;
                opacity: 1;
            }
            .txt{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                background-color:rgba(0, 0, 0, .4);
            }
        }
        .text {
            width: 100%;
            text-align: center;
            border-radius: 50%;
            h2 {
                padding: 10px 0 0;
            }
            p {
                margin: 10px 0;
                color: #fff;
            }
            a {
                padding: 5px;
                margin: 10px 0;
                display: inline-block;
                text-decoration: none;
                color: #DAA356;
                border: 2px solid #DAA356;
            }
        }
    }
    .index {
        //從這開始寫
        #fp-nav {
            display: none;
        }
        .PageOne {
            .page-view .project .text h2 {
                font-size: 20px;
                top: 45%;
            }
            svg {
                top: 20%;
                max-width: 200px;
            }
            .orderTable {
                background-color: rgba( 0, 0, 0, 0.6);
                left: 0%;
                right: 0%;
                top: 60%;
                width: 95%;
                padding: 10px 5px 5px;
                .btnDiv {
                    // display: inline-block;
                    width: 100%;
                    vertical-align: middle;
                    // margin:0 80px 0 25px; 
                    padding: 5px;
                    .btnLink {
                        width: 100%;
                    }
                }
                .bin-calendar {
                    width: 100%;
                    padding: 0 5px 5px 5px;
                }
                .i-dateClick {
                    width: 100%;
                    margin: auto;
                    padding: 6px 12px;
                    // margin: 0 25px 0 80px;
                }
            }
        }
        /*Page One end*/
        .PageTwo {
            padding-bottom: 50px;
            header {
                padding: 150px 6px 20px;
                text-align: center;
                font-size: 20px;
            }
            .box {
                padding: 5px;
                margin-bottom: 10px;
            }
            .colum {
                width: 90%;
                text-align: center;
                margin: 40px auto;
            }
            .house {
                max-width: 350px;
            }
        }
        /*PageTwo end*/
        .PageThree {
            padding-bottom: 50px;
            header {
                padding: 40px 6px;
                text-align: center;
                font-size: 20px;
            }
            img {
                width: 200px;
            }
            .blackbg {
                width: 100%;
                height: 100%;
                // max-height: 700px;
                // position: relative;
                // top: 0;
                // left: 0;
                background-color: rgba(0, 0, 0, .1);
                z-index: 1;
            }
            .osxCountainer {
                width: 100%;
                height: 100%;
                margin: auto;
                position: relative;
            }
            .osx-dock {
                // display: inline-block;
                // padding: 50px 0 50px;
                // transform: perspective(0px);
            }
            .osx-dock .dock {
                // display: inline-block;
                float: left;
                width: 50%;
                // height: 150px;
                transform-origin: center bottom;
                border-radius: 50%;
                transition: .6s;
                position: relative;
                padding: 5px 0;
                // text-align: center;
                // margin: 0 40px 0;
                // transform: scale(2);
                z-index: 300;
                // -webkit-box-reflect:below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25))); 
            }
            .osx-dock .dock .dockA {
                display: block;
                position: relative;
                height: 100%;
                width: 100%;
                margin: auto;
                border-radius: 50%;
            }
            .osx-dock .dock .fornt {
                display: block;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                border: 2px solid #fff;
                border-radius: 50%;
                overflow: hidden;
                transform: perspective(600px) rotateY(0deg);
                position: absolute;
                transform: scale(1);
                left: 0;
                top: 0;
                transition: 2s;
            }
            .osx-dock .dock .iback {
                display: none;

            }
        }
        /*PageThree end*/
        .PageFour {
            .scroll-icon {
                display: none;
            }
            .toback {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 5%;
                text-align: center;
                font-size: 50px;
                span {
                    padding: 0 30px;
                    color: #f4511e;
                }
            }
            .photostack figure::after{
                display: none;
            }
        }
        /*PageFour end*/
        .PageFive {
            .home_dis {
                width: 100%;
                // height: 50px;
            }
            .disclass {
                width: 100%;
                height: 100px;
                display: block;
                position: relative;
                transition: .6s;
            }
            .disclass .distitle {
                vertical-align: middle;
            }
            .disclass .distitle h2 {
                // position: absolute;
                text-align: center;
                color: #fff;
                line-height: 100px;
                margin: auto;
                transition: .8s;
            }
            // .disclass:hover {
            //     width: 40%;
            // }
            .disclass.open {
                height: 800px;
            }
            .disclass .disInfo {
                width: 90%;
                // height: 100px;
                // background-color: #ccc;
                display: none;
                transition: 1s;
                border-radius: 10px;
                position: absolute;
                top: 140px;
                margin: auto;
                left: 0;
                right: 0;
                opacity: 0;
                .post {
                    background-color: rgba(255, 255, 255, .8);
                    width: 100%;
                    padding: 20px;
                    margin-bottom: 20px;
                    position: relative;
                    transition: box-shadow .4s ease;
                    &:hover {
                        box-shadow: 0px 1px 3px #555;
                    }
                    .postImg {
                        overflow: hidden;
                        display: none;
                        // float: left;
                        text-align: center;
                        padding-top: 50px;
                    }
                    .txt {
                        // float: left;
                        height: auto;
                        &>div {
                            margin-bottom: 5px;
                        }
                        .postTitle a {
                            color: $deep-gray;
                            &:hover {
                                color: $brown;
                            }
                        }
                        .postDate {
                            color: $light-gray;
                        }
                        .postContent {
                            overflow: hidden;
                            max-height: 44px;
                            text-overflow: ellipsis;
                            white-space: nowrap
                        }
                        .postInfo {
                            font-size: $fz-mincontent;
                            color: $light-gray;
                            .author {
                                margin-right: 5px;
                            }
                            .watch:before {
                                content: '\f06e';
                                font-family: fontAwesome;
                                margin-right: 5px;
                            }
                            .message:before {
                                content: '\f27a';
                                font-family: fontAwesome;
                                margin-right: 5px;
                            }
                        }
                    }
                    .itemLabel {
                        display: none;
                        position: absolute;
                        left: 0px;
                        top: 15px;
                        width: 90px;
                        height: 30px;
                        padding: 5px;
                        color: #fff;
                        
                        text-align: center;
                        border-radius: 3px;
                        
                    }
                }
            }
        }
        /*PageFive end*/
    }
}
