// * {
//     outline: 1px solid red;
// }
//補上註冊帳號的js檢查邏輯
.signup {
    background-image: url(../images/bg11.jpg);
    background-size: cover;
    .container {
        color: $deep-gray;
        text-align: center;
        .wrapper {
            text-align: center;
            .main {
                margin: auto;
                border-radius: 15px;
                background-color: rgba(249, 247, 232, 0.85);
            }
            .formDiv {
                display: inline-block;
                margin: auto;
                text-align: left;
                .formGroup {}
                .labelClass {
                    width: 70px;
                }
                input {
                    border: 1px solid rgba(119, 71, 32, .8);
                    border-radius: 5px;
                    letter-spacing: 1px;
                }
                .gender input {
                    margin-right: 10px;
                    width: auto;
                    height: auto;
                    cursor: pointer;
                }
                #upload_mem_img {
                    border: none;
                    display: none;
                }
                .showImage {
                    display: inline-block;
                    text-align: center;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    margin-right: 10px;
                    overflow: hidden;
                    vertical-align: bottom;
                    position: relative;
                    top: 8px;
                    img {
                        width: 100%;
                    }
                }
                #uploadImgLabel {
                    display: inline-block;
                    padding: 6px 12px;
                    height: auto;
                    font-size: $fz-content;
                    border: 1px solid rgba(119, 71, 32, .8);
                    border-radius: 5px;
                    color: $light-gray;
                    cursor: pointer;
                    letter-spacing: 1px;
                    transition: all .4s;
                    background-color: hsla(0, 0%, 97%, 1.0);
                    &:hover {
                        color: $deep-gray;
                        background-color: hsla(0, 0%, 100%, 1.0);
                    }
                }
                p {
                    margin: 10px 0;
                    font-size: $fz-mincontent;
                }
                .btnDiv {
                    text-align: center;
                }
                .inputBtn {
                    font-weight: 300;
                    margin: 10px auto;
                    // width: 80%;
                    // width:auto;
                    padding: 6px 12px;
                    height: auto;
                    font-size: $fz-content;
                    border: solid transparent;
                    border-radius: 5px;
                    background: #f34e1b;
                    background: linear-gradient(to bottom, rgba(243, 78, 27, 1.0) 0, rgba(230, 50, 10, 1.0) 100%);
                    color: #fff;
                    cursor: pointer;
                    letter-spacing: 2px;
                    transition: all .4s;
                    &:hover {
                        background: hsla(14, 90%, 45%, 1);
                        background: linear-gradient(to bottom, rgba(240, 60, 20, 1.0) 0, rgba(210, 50, 10, 1.0) 100%);
                    }
                }
            }
            h3 {
                color: $brown;
            }
        }
        .logo {
            margin-bottom: 10px;
            span {
                color: $sup-orange;
                font-family: "MicrosoftJhengHeiBold";
                line-height: 1.2;
                text-shadow: 1px 2px 1px rgba(252, 173, 135, 0.75);
                margin-left: 5px;
                font-size: 40px;
                font-weight: 900;
            }
            img {
                height: 60px;
                width: auto;
            }
        }
    }
}

//手機
@include respones(xs) {
    .signup {
        .container {
            padding-top: 60px;
            .main {
                padding: 15px;
                width: 100%;
                height: 100vh;
            }
        }
    }
}

//平板
@include respones(sm) {
    .signup {
        .container {
            padding-top: 60px;
            .main {
                width: 550px;
                padding: 20px;
            }
        }
    }
}

//小桌機
@include respones(md) {
    .signup {
        .container {
            padding: 120px 20px 40px;
            .wrapper {
                .main {
                    width: 650px;
                    padding: 20px;
                }
                .formDiv {
                    font-size: $fz-content;
                    .formGroup {
                        padding: 5px;
                        min-height: 44px;
                        margin-bottom: 10px;
                    }
                    .labelClass {
                        display: inline-block;
                        width: 90px;
                    }
                    input {
                        width: 350px;
                        height: 34px;
                        padding: 3px 6px;
                        font-size: $fz-content;
                    }
                    .genderFormGroup {
                        padding-top: 10px;
                    }
                    p {
                        width: 455px;
                    }
                }
                h3 {
                    margin: 20px auto;
                }
            }
        }
    }
}

//大桌機
@include respones(lg) {
    .signup {
        .main {}
    }
}
