// * {
//     outline: 1px solid red;
// }
//補上註冊帳號的js檢查邏輯
.changePsw {
    background-image: url(../../images/dogSleep2.png);
    background-size: cover;
    height: 100vh;
    .container {
        color: $light-gray;
        text-align: center;
        .wrapper {
            display: flex;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            text-align: center;
            .main {
                margin: auto;
                border-radius: 8px;
                background-color: $bgc;
            }
            .formDiv {
                display: inline-block;
                margin: auto;
                text-align: left;
                .formGroup {
                    padding: 5px;
                }
                .labelClass {
                    display: inline-block;
                    width: 70px;
                }
                input {
                    width: 259px;
                    height: 34px;
                    padding: 6px 12px;
                    font-size: 14px;
                    border: 1px solid rgba(119, 71, 32, .8);
                    border-radius: 4px;
                    letter-spacing: 1px;
                }
                input:first-child{
                    border: 1px solid transparent;
                }
                .btn {
                    text-align: center;
                    .inputBtn {
                        margin: 10px auto;
                        width: 259px;
                        border: 1px solid transparent;
                        background-color: #b37600;
                        color: #fff;
                        cursor: pointer;
                        letter-spacing: 2px;
                        transition: box-shadow .4s ease;
                        &:hover {
                            box-shadow: 1px 1px 5px #555;
                        }
                    }
                }
            }
            h4 {
                color: $brown;
                margin-bottom: 10px;
            }
        }
        .logo {
            margin-bottom: 10px;
            span {
                color: $sup-orange;
                font-family: "MicrosoftJhengHeiBold";
                line-height: 1.2;
                text-shadow: 1px 2px 1px rgba(252, 173, 135, 0.75);
                margin-left: 5px;
                font-size: 40px;
                font-weight: 900;
            }
            img {
                height: 60px;
                width: auto;
            }
        }
    }
}

//桌機
@include respones(md) {
    .changePsw {

        .main {
            width: 550px;
            padding: 20px;
        }
    }
}

//平板
@include respones(sm) {
    .changePsw {
        .main {
            width: 550px;
            padding: 20px;
        }
    }
}

//手機
@include respones(xs) {
    .changePsw {
        margin-top: 60px;
        .container {
            padding: 0;
            .main {
                padding: 15px;
                width: 100%;
                height: 100vh;
            }
        }
    }
}
