$orange:#ffa800;
$deep-orange:#b37600;
$light-pink:#ef715a;
$sup-orange:#ff9100;
$deep-gray:#434343;
$light-gray:#7d7d7d;
$brown:#774720;
$white:#ffffff;
$bgc:#f9f7e8;


$b-red:#EB3F4B;




$allColor: #557095;
$shareColor: #8CD899;
$healthColor: #57B1DA;
$newColor: #D9ABE6;
$foodColor: #F4A66F;
$hotColor: #F00;
