*{
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	margin:0;
	padding:0;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.hidden{
	visibility: hidden;
}
.relative{
	position: relative;
}
//補上去
h1 {
    font-size: $fz-h1;
    // color: $deep-gray;
}

h2 {
    font-size: $fz-h2;
    // color: $deep-gray;
}

h3 {
    font-size: $fz-h3;
    // color: $deep-gray;
}

h4 {
    font-size: $fz-h4;
    // color: $deep-gray;
}

p {
    font-size: $fz-content;
    // color: $light-gray;
}
a{
	text-decoration: none;
}



.btnFunction {
    text-align: center;
    padding: 6px 12px;
    font-size: $fz-content;
    border-radius: 5px;
    background: #f34e1b;
    background: linear-gradient(to bottom, rgba(243, 78, 27, 1.0) 0, rgba(230, 50, 10, 1.0) 100%);
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all .4s;
    &:hover {
        background: hsla(14, 90%, 45%, 1);
        background: linear-gradient(to bottom, rgba(240, 60, 20, 1.0) 0, rgba(210, 50, 10, 1.0) 100%);
    }
}

.btnDiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btnLink {
    font-size: $fz-content;
    font-weight: 900;
    text-align: center;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 2px solid #f4511e;
    border-radius: 5px;
    color: #f4511e;
    letter-spacing: 2px;
    transition: all 0.4s;
    &:hover {
        background-color: #f4511e;
        color: #fff;
    }
}

//--------select外掛css 需搭配jquery
.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(119, 71, 32, .8);
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: $fz-content;
    font-weight: normal;
    // height: 42px;
    // line-height: 40px;
    outline: none;
    padding-left: 12px;
    padding-right: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

// .nice-select:hover {
//     border-color: #dbdbdb;
// }
// .nice-select:active,
// .nice-select.open,
// .nice-select:focus {
//     border-color: #999;
// }
.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
}

.nice-select.disabled:after {
    border-color: #cccccc;
}

.nice-select.wide {
    width: 100%;
}

.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.nice-select.right {
    float: right;
}

.nice-select.right .list {
    left: auto;
    right: 0;
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}

.nice-select.small:after {
    height: 4px;
    width: 4px;
}

.nice-select.small .option {
    // line-height: 34px;
    // min-height: 34px;
}

.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 12px;
    padding-right: 25px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

// .nice-select .option:hover,
// .nice-select .option.focus,
// .nice-select .option.selected.focus {
//     background-color: #f6f6f6;
// }
.nice-select .option.selected {
    font-weight: bold;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.no-csspointerevents .nice-select .list {
    display: none;
}

.no-csspointerevents .nice-select.open .list {
    display: block;
}

//-------select外掛結束

//-------go top
///////
#gotop {
    position: fixed;
    right: 20px;
    bottom: 30px;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

@include respones(xs) {
    #gotop {
        right: 10px;
        bottom: 15px;
        img {
            width: 50px;
        }
    }
}