@include respones(md) {
    //小電腦 container 970px (992~1200)
    .member {
        background-image: url(../images/background/bg07.jpg);
        background-position: 80% 100%;
        padding-top: 80px;
        .container {
            padding-top: 20px;
            min-height: 75vh;
            .memberInfo {
                margin-bottom: 20px;
            }
            .top {
                margin-left: 25px;
            }
            .petList {
                margin-bottom: 20px;
                .pet {
                    margin-right: 20px;
                    margin-bottom: 10px;
                }
            }
            // 會員管理
            .accountMgt {
                //tab選單
                .tabMenu {
                    a:first-child {
                        margin-left: 25px;
                    }
                    a {
                        padding: 5px 10px;
                        letter-spacing: 2px;
                        width: auto;
                        margin: 0 5px;
                    }
                }
                .mainContent {
                    margin-left: 25px;
                    //沒記錄顯示
                    .reminder {
                        height: 380px;
                        .txt {
                            padding-top: 15%;
                        }
                        &#raceReminder {
                            background-position: 50% 20%;
                        }
                    }
                    // 我的訂單
                    .booking {
                        overflow: hidden;
                        height: 240px;
                        padding: 20px;
                        margin-bottom: 20px;
                        .roomPhoto {
                            width: 300px;
                            height: 200px;
                        }
                        .bookingDetail {
                            margin-left: 20px;
                            float: left;
                            line-height: 2;
                        }
                        .bookingDate {
                            width: 260px;
                            padding-top: 9px;
                            float: right;
                            margin-bottom: 10px;
                            // line-height: 1.5;
                            height: 100%;
                            p {
                                margin-bottom: 5px;
                            }
                            h4 {
                                margin-bottom: 5px;
                            }
                            .checkinDate {
                                padding: 0 10px;
                                width: 50%;
                            }
                            .checkoutDate {
                                padding: 0 10px;
                                float: right;
                                width: 50%;
                            }
                        }
                        .btnDiv {
                            position: absolute;
                            bottom: 10px;
                            // right:0;
                            // left:0;
                            line-height: normal;
                            width: 100%;
                            .btnFunction {
                                width: 203px;
                                margin: auto;
                            }
                        }
                    }
                    //我的文章
                    .post {
                        height: 180px;
                        padding: 20px;
                        .postImg {
                            width: 200px;
                            height: 140px;
                        }
                        .txt {
                            max-width: 630px;
                            margin-left: 20px;
                            .postTitle {
                                max-height: 40px;
                            }
                        }
                    }
                    //萌主
                    #myrace {
                        .cardWrap {
                            .card {
                                .openLightbox {
                                    max-height: 161px;
                                }
                            }
                        }
                    } //
                }
            }
        }
        //燈箱
        .C_lightbox {
            .lightbox_box {
                .lightbox_content {
                    padding-top: 20px;
                    .formDiv {
                        font-size: $fz-content;
                        .formGroup {
                            padding: 5px;
                            min-height: 44px;
                            margin-bottom: 10px;
                        }
                        .labelClass {
                            width: 50px;
                        }
                        input {
                            width: 200px;
                            height: 34px;
                            padding: 3px 6px;
                            font-size: $fz-content;
                        }
                        .genderFormGroup {
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
        //aboutme更新會員資料燈箱
        #aboutme {}
        //mypets addPet資料燈箱
        #mypets,
        #addPet {}
    } //member
}

//大桌機 container 1170 (>1200)
@include respones(lg) {
    .member {
        background-position: 80% 80%;
        .container {
            .accountMgt {
                .mainContent {
                    //我的文章
                    .post {
                        .txt {
                            max-width: 830px;
                        }
                    }
                }
                //萌主
                #myrace {
                    .cardWrap {
                        .card {
                            .openLightbox {
                                max-height: 200px;
                            }
                        }
                    }
                } //
            }
        }
    }
}
