@import "lg";
@import "sm";
@import "xs";
.member {
    background-image: url(../images/bg07_r.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .container {
        position: relative;
        padding-bottom: 20px;
        // color:$deep-gray;
        // background-color: rgba(255, 145, 0, 0.2);
        //會員資料列表
        .memberInfo {
            text-align: left;
            .profilePhoto img {
                cursor: pointer;
                width: 100px;
                border-radius: 50%;
            }
            div {
                display: inline-block;
            }
            .txt {
                color: #f2f2f2;
                letter-spacing: 0.08em;
                margin-left: 10px;
                height: 100px;
                line-height: 1.9;
                vertical-align: top;
                text-align: left;
                #panel_mem_name {
                    letter-spacing: 0.1em;
                    font-weight: 200;
                }
                .fa {
                    margin-right: 5px;
                }
                >span {
                    margin-right: 10px;
                    cursor: pointer;
                    // color: #f2f2f2;
                    &:hover {
                        color: #ffa800;
                    }
                }
            }
        }
        //寵物資料列表 
        .petList {
            color: #f2f2f2;
            letter-spacing: 0.08em;
            #petListDiv {
                display: inline-block;
            }
            .petPhoto img {
                // border: 2px solid $sup-orange;
                width: 60px;
                border-radius: 50%;
            }
            .pet {
                text-align: center;
                display: inline-block;
                padding: 5px;
                &:hover {
                    color: #ffa800;
                }
                .petPhoto {
                    text-align: center;
                    cursor: pointer;
                    position: relative;
                }
                .txt {
                    text-align: center;
                }
                .fa {
                    margin-left: 5px;
                    cursor: pointer;
                }
                &.petAdd {
                    &:hover {
                        color: #ffa800;
                        .petPhoto {
                            border: 2px solid #ffa800;
                        }
                    }
                    .petPhoto {
                        border: 2px solid #f2f2f2;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                    .addPetIcon {
                        font-size: 30px;
                        margin: auto;
                        position: absolute;
                        top: 15px;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
        // 會員管理
        .accountMgt {
            //tab選單
            .tabMenu {
                margin: 10px 0;
                border-bottom: 3px solid $deep-orange;
                a {
                    cursor: pointer;
                    color: #f2f2f2;
                    text-align: center;
                    display: inline-block;
                    border-radius: 5px 5px 0 0;
                    border: 2px dotted $deep-orange;
                    border-bottom: 1px solid $deep-orange;
                    margin-bottom: -1px;
                    font-weight: 300;
                    &:hover {
                        background-color: $deep-orange;
                        color: #fff;
                        border-style: solid;
                        border-radius: 5px 5px 0 0;
                    }
                    &.active {
                        background-color: $deep-orange;
                        color: #fff;
                        border-style: solid;
                        border-radius: 5px 5px 0 0;
                    }
                }
            }
            .mainContent {
                //隱藏的class
                .hideItem {
                    display: none;
                }
                //沒記錄顯示
                .reminder {
                    border-radius: 5px;
                    color: $deep-gray;
                    background-repeat: no-repeat;
                    background-size: cover;
                    .txt {
                        background-color: rgba(255, 255, 255, 0.5);
                        height: 100%;
                        text-align: center;
                    }
                    .btnDiv {
                        margin-top: 20px;
                    }
                    &#bookingReminder {
                        background-image: url(../images/dogOnSofa.jpg);
                    }
                    &#discussReminder {
                        background-image: url(../images/bg_post.jpg);
                    }
                    &#raceReminder {
                        background-image: url(../images/bg12.jpg);
                    }
                }
                // 我的訂單
                .booking {
                    background-color: rgba(255, 255, 255, 0.75);
                    width: 100%;
                    border-radius: 5px;
                    color: #333;
                    //歷史訂單
                    &.pastBooking {
                        background-color: rgba(238, 238, 238, 0.8);
                        color: #999;
                        .bookingDate {
                            .dateTitle {
                                color: #999;
                            }
                            .checkoutDate {
                                border-left: 2px dotted #aaa;
                            }
                            .btnFunction {
                                display: block;
                            }
                            .date {
                                color: #999;
                            }
                        }
                        .bookingDetail {
                            .stayDay,
                            .serviceItem,
                            .sitter_name,
                            .roomType,
                            .orderlist_Total {
                                color: #999;
                            }
                        }
                    }
                    .roomPhoto {
                        float: left;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .bookingDetail {
                        max-width: 352px;
                        p {
                            font-size: 18px;
                        }
                        .orderlist_Total {
                            color: $light-pink;
                            font-weight: 900;
                        }
                        .historyBooking {
                            display: inline-block;
                            vertical-align: middle;
                            padding: 2px 5px;
                            margin-left: 20px;
                            position: relative;
                            bottom: 2px;
                            font-size: $fz-content;
                            vertical-align: middle;
                            background-color: #ccc;
                            color: $deep-gray;
                        }
                        .stayDay,
                        .serviceItem,
                        .sitter_name,
                        .roomType {
                            // font-size: 18px;
                            font-weight: 900;
                            color: $brown;
                        }
                    }
                    .bookingDate {
                        position: relative;
                        text-align: center;
                        letter-spacing: 0.1em;
                        .checkinDate {
                            float: left;
                        }
                        .checkoutDate {
                            border-left: 2px dotted #888;
                        }
                        .dateTitle {
                            color: $light-gray;
                        }
                        .day {
                            font-size: 18px;
                            font-weight: 500;
                        }
                        .date {
                            color: $brown;
                        }
                    }
                    .btnDiv {
                        text-align: center;
                        // display: inline-block;
                        .fa-repeat {
                            margin-left: 5px;
                        }
                        .btnPast {
                            background: #ffa800;
                            background: linear-gradient(to bottom, #ffa800 0, #f0a000 100%);
                            &:hover {
                                background: #e69900;
                                background: linear-gradient(to bottom, #f0a000 0, #e69900 100%);
                            }
                        }
                    }
                }
                //我的文章
                .postLink {
                    color: $deep-gray;
                    .post {
                        border-radius: 5px;
                        background-color: rgba(238, 238, 238, 0.9);
                        width: 100%;
                        margin-bottom: 20px;
                        position: relative;
                        transition: all .3s ease;
                        &:hover {
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
                            .postTitle {
                                color: $deep-orange;
                            }
                        }
                        .postImg {
                            overflow: hidden;
                            float: left;
                            text-align: center;
                        }
                        .txt {
                            float: left;
                            &>div {
                                margin-bottom: 5px;
                            }
                            .postTitle {
                                overflow: hidden;
                            }
                            .postDate {
                                color: $light-gray;
                            }
                            .postContent {
                                overflow: hidden;
                                max-height: 44px;
                            }
                            .postInfo {
                                font-size: $fz-mincontent;
                                color: $light-gray;
                                .author {
                                    margin-right: 5px;
                                }
                                .watch:before {
                                    content: '\f06e';
                                    font-family: fontAwesome;
                                    margin-right: 5px;
                                }
                                .message:before {
                                    content: '\f27a';
                                    font-family: fontAwesome;
                                    margin-right: 5px;
                                }
                            }
                        }
                        .itemLabel {
                            position: absolute;
                            left: 15px;
                            top: 15px;
                            width: 90px;
                            height: 30px;
                            padding: 5px;
                            color: #fff;
                            text-align: center;
                            border-radius: 3px;
                            &.foodLabel {
                                background-color: $foodColor;
                            }
                            &.shareLabel {
                                background-color: $shareColor;
                            }
                            &.healthLabel {
                                background-color: $healthColor;
                            }
                            &.newLabel {
                                background-color: $newColor;
                            }
                        }
                        .hotLabel {
                            background-color: #f00;
                            color: #fff;
                            padding: 2px;
                            font-size: 12px;
                            margin: 0 10px;
                            opacity: 0;
                            &.on {
                                opacity: 1;
                            }
                        }
                    }
                }
                //參賽紀錄{
                #myrace {
                    .cardWrap {
                        margin-bottom:10px;
                        color: #434343;
                        .card {
                            a {
                                color: #434343;
                            }
                            background-color: #fdeeca;
                            border-radius: 15px;
                            position: relative;
                            overflow: hidden;
                            img {
                                width: 100%;
                            }
                            .text {
                                padding: 10px;
                            }
                            .textTop {
                                padding: 5px;
                                .number {
                                    display: inline-block;
                                    font-size: $fz-content;
                                    color: $deep-gray;
                                }
                                .name {
                                    display: inline-block;
                                    font-size: $fz-h3;
                                    padding: 0 0px;
                                }
                            }
                            .textDown {
                                padding: 5px;
                                position: relative;
                                span {
                                    display: inline-block;
                                    padding: 5px 0;
                                }
                                .like {
                                    height: 50px;
                                    width: 62px;
                                    position: absolute;
                                    bottom: 56px;
                                    right: 10px;
                                    text-align: center;
                                    .votes {
                                        display: inline-block;
                                        font-size: $fz-h1;
                                        color: $light-pink;
                                        // float: right;
                                    }
                                    img {
                                        width: 100%;
                                    }
                                    .favorite {
                                        background: transparent;
                                        border: 0;
                                        .outsideheart {
                                            font-size: 50px;
                                            color: $light-pink;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //燈箱
    .C_lightbox {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 30;
        margin: auto;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .8);
        display: none;
        &.petShare {
            .lightbox_box {
                padding: 5px 20px;
            }
            .nice-select {
                width: 104px;
            }
        }
        .lightbox_box {
            transform: translate(-50%, -50%);
            position: fixed;
            top: 50%;
            left: 50%;
            width: 0px;
            height: 0px;
            background-color: $bgc;
            padding: 5px 10px;
            transition: 1s;
            border-radius: 50%;
            position: relative;
            box-shadow: 5px 5px 50px $light-gray;
            .lightbox_content {
                display: none;
                .formDiv {
                    display: inline-block;
                    margin: auto;
                    text-align: left;
                    .formGroup {}
                    .labelClass {
                        display: inline-block;
                    }
                    input {
                        border: 1px solid rgba(119, 71, 32, .8);
                        border-radius: 5px;
                        letter-spacing: 1px;
                    }
                    .gender input {
                        margin-right: 10px;
                        width: auto;
                        height: auto;
                        cursor: pointer;
                    }
                    #upload_mem_img {
                        border: none;
                        display: none;
                    }
                    #upload_petImg {
                        border: none;
                        display: none;
                    }
                    #add_upload_petImg {
                        border: none;
                        display: none;
                    }
                    .petInput {
                        width: 104px;
                    }
                    .showImage {
                        display: inline-block;
                        text-align: center;
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;
                        margin-right: 10px;
                        overflow: hidden;
                        vertical-align: bottom;
                        position: relative;
                        top: 8px;
                        img {
                            width: 100%;
                        }
                    }
                    .uploadImgLabel {
                        display: inline-block;
                        padding: 6px 12px;
                        height: auto;
                        font-size: $fz-content;
                        border: 1px solid rgba(119, 71, 32, .8);
                        border-radius: 5px;
                        color: $deep-gray;
                        cursor: pointer;
                        letter-spacing: 1px;
                        transition: all .4s;
                        background-color: hsla(0, 0%, 97%, 1.0);
                        &:hover {
                            color: $deep-gray;
                            background-color: hsla(0, 0%, 100%, 1.0);
                        }
                    }
                    p {
                        margin: 10px 0;
                        font-size: $fz-mincontent;
                    }
                    .btnDiv {
                        text-align: center;
                    }
                    .inputBtn {
                        font-weight: 300;
                        margin: 10px auto;
                        // width: 80%;
                        // width:auto;
                        padding: 6px 12px;
                        height: auto;
                        font-size: $fz-content;
                        border: solid transparent;
                        border-radius: 5px;
                        background: #f34e1b;
                        background: linear-gradient(to bottom, rgba(243, 78, 27, 1.0) 0, rgba(230, 50, 10, 1.0) 100%);
                        color: #fff;
                        cursor: pointer;
                        letter-spacing: 2px;
                        transition: all .4s;
                        &:hover {
                            background: hsla(14, 90%, 45%, 1);
                            background: linear-gradient(to bottom, rgba(240, 60, 20, 1.0) 0, rgba(210, 50, 10, 1.0) 100%);
                        }
                    }
                    #updatePetBtn {
                        width: 100%;
                    }
                }
                .closeLightBox {
                    line-height: 20px;
                    text-align: center;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    width: 33px;
                    height: 33px;
                    background-color: rgba(0, 0, 0, .85);
                    border-radius: 50%;
                    transition: .3s;
                    border: 2px solid #ddd;
                    .fa-plus {
                        position: relative;
                        left: 3px;
                        top: -2px;
                        padding-top: 10px;
                        font-size: 20px;
                        color: #fff;
                        cursor: pointer;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    //燈箱結束
}
