@include respones(md) {
    //小桌機 container 992
    //服務介紹
    .service {
        padding-top: 80px;
        .title {
            margin: 20px auto 40px;
        }
        .introduction {
            z-index: 2;
            height: 500px;
            .txt {
                padding: 40px;
                height: 300px;
                border-radius: 15px;
                //定位
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                max-width: 750px;
                //定位
            }
        }
        .specialty {
            padding: 160px 0 40px;
            margin-top: -84px;
            .item {
                margin-bottom: -65px;
                .txt {
                    min-height: 201px;
                    top: -95px;
                    padding: 105px 10px .5em;
                }
            }
        }
        .roomType {
            #roomContainer {
                padding: 65px 10px 60px;
            }
            .roomTypeNav {
                .itemDiv {
                    height: 80px;
                    &:hover .txt {
                        top: 60%;
                        background-color: rgba(255, 255, 255, 0.8);
                        p {
                            vertical-align: 90%;
                            color: $deep-gray;
                        }
                    }
                    &.active {
                        .txt {
                            top: 60%;
                            background-color: rgba(255, 255, 255, 0.8);
                            p {
                                vertical-align: 90%;
                                color: $deep-gray;
                            }
                        }
                    }
                    .item {
                        height: 80px;
                        overflow: hidden;
                        border: 1px solid $deep-orange;
                    }
                    .txt {
                        height: 80px;
                        p {
                            font-size: 24px;
                            font-weight: 900;
                        }
                    }
                }
            }
            .roomInfo {
                margin-top: 20px;
                .roomPhoto {
                    img {}
                }
                .roomDetail {
                    padding: 20px 20px 10px;
                    .txt {
                        line-height: 2.1;
                    }
                    .roomPrice {}
                    p {
                        letter-spacing: 0.08em;
                        &#roomTypeIntro {
                            margin-bottom: 25px;
                        }
                        &.listDetail {
                            line-height: 2;
                        }
                    }
                    .btnDiv {
                        margin-top: 40px;
                        .btn {}
                    }
                }
            }
            .slick-prev:before {
                left: 20px;
            }
            .slick-next:before {
                right: 20px;
            }
        }
        .serviceType {
            padding: 65px 0 60px;
            .item {
                .txt {
                    p {
                        text-align: left;
                    }
                    min-height: 230px;
                    padding: .5em 20px .8em;
                }
            }
        }
        .overall {
            .txt {
                padding: 125px 10px 0px;
            }
            .reminder {
                height: 300px;
            }
        }
    }
}

@include respones(lg) {
    //桌機 container 1170
    //服務介紹
    .service {
        .overall {
            .txt {
                padding: 125px 10px 0px;
            }
        }
    }
}
