@import "lg";
@import "sm";
@import "xs";
// * {
//     outline: 1px solid red;
// }
//service的scss開始
.service {
    .title {
        text-align: center;
        h1 {
            color: $sup-orange;
        }
        &:after {
            content: '';
            display: block;
            width: 40px;
            height: 2px;
            background-color: $sup-orange;
            text-align: center;
            margin: 10px auto 0;
        }
        img {
            width: 50px;
            height: auto;
            margin-right: 10px;
            vertical-align: middle;
            position: relative;
            bottom: 2px;
        }
    }
    .introduction {
        position: relative;
        text-align: center;
        background: url(../images/background/bg_start.png) no-repeat;
        .txt {
            font-size: 18px;
            color: #333;
            line-height: 2;
            letter-spacing: 0.08em;
            background-color: rgba(255, 255, 255, 0.8);
            .btnDiv {
                margin-top: 20px;
            }
        }
    }
    .specialty {
        position: relative;
        background: url(../images/background/bg16.jpg) no-repeat;
        background-size: cover;
        background-position: 50% 100%;
        background-attachment: fixed;
        .item {
            .imageBox {
                overflow: hidden;
                z-index: 5;
                position: relative;
                img {
                    border-radius: 50%;
                }
            }
            .txt {
                letter-spacing: 0.05em;
                color: $deep-gray;
                text-align: center;
                position: relative;
                background-color: rgba(220, 220, 220, 0.7);
            }
        }
    }
    .roomType {
        background: url(../images/background/index-bg6.jpg) repeat;
        #roomContainer {}
        .roomTypeNav {
            > .row {
                font-size: 0;
            }
            .itemDiv {
                padding-left: 5px;
                padding-right: 5px;
            }
            margin-top: 20px;
            .item {
                // margin: 0 5px;
                overflow: hidden;
                // padding-left: 0px;
                // padding-right: 0px;
                cursor: pointer;
                position: relative;
                img {
                    position: relative;
                    border: 2px solid $deep-orange;
                }
                .txt {
                    width: 100%;
                    height: 100%;
                    font-size: 0;
                    position: absolute;
                    right: 0;
                    left: 0;
                    top: 0;
                    margin: auto;
                    background-color: rgba(255, 255, 255, 0.8);
                    text-align: center;
                    transition: .5s;
                    &:before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 0;
                        height: 100%;
                    }
                    p {
                        color: $brown;
                        display: inline-block;
                        margin: auto;
                        letter-spacing: 0.05em;
                        vertical-align: middle;
                        text-align: center;
                        transition: .5s;
                    }
                }
            }
        }
        .roomInfo {
            font-size: 0;
            border: 2px solid $deep-orange;
            background-color: rgba(255, 255, 255, 0.8);
            overflow: hidden;
            .roomPhoto {
                padding: 0;
                img {}
            }
            .roomDetail {
                height: 100%;
                text-align: center;
                .txt {
                    text-align: left;
                    display: inline-block;
                    margin: auto;
                }
                h3 {
                    color: $deep-gray;
                    letter-spacing: 0.08em;
                    font-size: $fz-h3;
                }
                h4 {
                    font-size: $fz-h4;
                    letter-spacing: 0.08em;
                }
                .roomPrice {
                    color: $light-pink;
                }
                p {
                    color: $deep-gray;
                    font-size: $fz-content;
                    letter-spacing: 0.08em;
                    &#roomTypeIntro {
                        margin-bottom: 20px;
                    }
                    &.listDetail {
                        font-weight: 900;
                        &:before {
                            content: '\f1b0';
                            font-family: fontAwesome;
                            margin-right: 5px;
                        }
                    }
                }
                .btnDiv {
                    .btn {
                        font-size: $fz-content;
                        line-height: initial;
                    }
                }
            }
        }
    }
    .serviceType {
        background: url(../images/background/bg16.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        .itemDiv {
            padding: 10px 20px;
        }
        .item {
            border-radius: 5px;
            overflow: hidden;
            display: inline-block;
            text-align: center;
            position: relative;
            background-color: rgba(255, 255, 255, 0.8);
            .txt {
                position: relative;
                bottom: 10px;
                border: 1px solid #aaa;
                border-radius: 3%;
                border-top: none;
                letter-spacing: 0.1em;
                line-height: 1.5;
                h3 {
                    color: $light-pink;
                    img {
                        position: relative;
                        top: 3px;
                        width: 26px;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}
