@include respones(sm) {
    //平板 container 100%
    //服務介紹
    .service {
        padding-top: 60px;
        .title {
            margin: 0px auto 40px;
        }
        .introduction {
            z-index: 2;
            height: 460px;
            .txt {
                width: 75vw;
                padding: 20px;
                height: 300px;
                border-radius: 15px;
                //定位
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                //定位
            }
        }
        .specialty {
            margin-top: -20px;
            padding: 85px 0 40px;
            .item {
                margin-bottom: -60px;
                .txt {
                    min-height: 60px;
                    top: -95px;
                    padding: 105px 10px .8em;
                }
            }
        }
        .roomType {
            #roomContainer {
                padding: 65px 10px 60px;
            }
            .roomTypeNav {
                .itemDiv {
                    height: 80px;
                    &.active {
                        .txt {
                            top: 60%;
                            background-color: rgba(255, 255, 255, 0.8);
                            p {
                                vertical-align: 90%;
                                color: $deep-gray;
                            }
                        }
                    }
                    .item {
                        height: 80px;
                        overflow: hidden;
                        border: 1px solid $deep-orange;
                    }
                    .txt {
                        p {
                            font-size: 24px;
                            font-weight: 900;
                        }
                    }
                }
            }
            .slick-prev:before {
                left: 20px;
            }
            .slick-next:before {
                right: 20px;
            }
        }
        .roomInfo {
            margin-top: 20px;
            .roomPhoto {
                img {}
            }
            .roomDetail {
                padding: 5px 15px 0px;
                #roomTypeName {
                    display: none;
                }
                .txt {
                    line-height: 1.75;
                    letter-spacing: 0.07em;
                }
                p {
                    &.listDetail {
                        line-height: 2.5;
                        display: none;
                    }
                }
            }
        }
        .serviceType {
            padding: 60px 0;
            .item {
                .txt {
                    min-height: 300px;
                    padding: .5em 20px .8em;
                    p {
                        text-align: left;
                    }
                }
            }
        }
        .overall {
            .txt {
                padding: 50px 10px 0px;
            }
            .reminder {
                height: 200px;
            }
        }
    }
}
