@include respones(sm) {
    //平板 container 100%
    //服務介紹
    .service {
        padding-top: 60px;
        .introduction {
            margin: 0 4.166667% 40px;
            .imageBox {
                img {
                    width: 100%;
                }
            }
            .contentBox {
                .txt {
                    p {
                        line-height: 1.5;
                    }
                    .btnDiv {
                        margin-top: 20px;
                    }
                }
            }
        }
        .specialty {
            margin-bottom: -100px;
            .item {
                margin-bottom: -60px;
                .txt {
                    min-height: 60px;
                    top: -95px;
                    padding: 105px 10px .8em;
                }
            }
        }
    }
}
