@include respones(xs) {
    //手機100%
    //服務介紹
    .service {
        padding-top: 60px;
        .title {
            margin-bottom: 20px;
        }
        .introduction {
            .txt {
                width: 100%;
                padding: 20px;
            }
        }
        .specialty {
            padding: 60px 0 40px;
            .item {
                text-align: center;
                margin-bottom: -60px;
                .txt {
                    min-height: 60px;
                    top: -80px;
                    padding: 90px 10px .8em;
                }
            }
        }
        .roomType {
            #roomContainer {
                padding-top: 40px;
                padding-bottom: 60px;
            }
            .roomTypeNav {
                .itemDiv {
                    max-height: 50px;
                    overflow: hidden;
                    margin-bottom: 10px;
                    &.active {
                        .txt {
                            background-color: rgba(255, 255, 255, .8);
                            p {
                                transition: .5s;
                                color: $deep-gray;
                            }
                        }
                    }
                    .txt {
                        p {
                            position: relative;
                            bottom: 10px;
                        }
                    }
                    img {
                        bottom: 18px;
                    }
                }
            }
            .roomInfo {
                .roomPhoto {
                    // overflow: hidden;
                    // max-height: 110px;
                    img {
                        bottom: 70px;
                    }
                }
                .roomDetail {
                    margin-top: -98px;
                    padding: 10px 15px;
                    line-height: 1.8;
                    background-color: rgba(255, 255, 255, .8);
                    .txt {}
                    h3 {}
                    h4 {}
                    .roomPrice {}
                    p {
                        &.listDetail {
                            line-height: 1.8;
                        }
                    }
                    .btnDiv {
                        margin-top: 10px;
                        .btn {}
                    }
                }
            }
        }
        .serviceType {
            padding: 40px 0;
            .item {
                .txt {
                    padding: 10px;
                 }
            }
        }
    }
}
