@include respones(xs) {
    //手機100%
    //服務介紹
    .service {
        padding-top: 60px;
        .title {
            margin-bottom: 20px;
        }
        .introduction {
            .txt {
                width: 100%;
                padding: 30px 20px;
            }
        }
        .specialty {
            background-attachment: scroll;
            padding: 40px 0 40px;
            .item {
                text-align: center;
                margin-bottom: -60px;
                .txt {
                    min-height: 60px;
                    top: -80px;
                    padding: 90px 10px .8em;
                }
            }
        }
        .roomType {
            #roomContainer {
                padding-top: 40px;
                padding-bottom: 40px;
            }
            .roomTypeNav {
                .itemDiv {
                    max-height: 50px;
                    overflow: hidden;
                    margin-bottom: 10px;
                    &.active {
                        .txt {
                            background-color: rgba(255, 168, 0, 0.7);
                            p {
                                transition: .5s;
                                color: $deep-gray;
                                font-weight: 900;
                            }
                        }
                    }
                    .txt {
                        p {
                            position: relative;
                            bottom: 15px;
                            font-size: 20px;
                        }
                    }
                    img {
                        bottom: 18px;
                    }
                }
            }
            .roomInfo {
                .roomPhoto {
                    overflow: hidden;
                    max-height: 200px;
                    img {
                        margin-top: -60px;
                    }
                    .temp{
                        width: 100%;
                        height: 100%;
                    }
                }
                .roomDetail {
                    position: relative;
                    // z-index: 1000;
                    padding: 0px 15px 10px;
                    line-height: 1.8;
                    background-color: rgba(255, 255, 255, .8);
                    .txt {}
                    #roomTypeName {
                        display: none;
                    }
                    h4 {}
                    .roomPrice {}
                    p {
                        &.listDetail {
                            line-height: 1.8;
                        }
                    }
                }
            }
            .slick-prev:before {
                left: 10px;
                top: 38%;
            }
            .slick-next:before {
                right: 10px;
                top: 38%;
            }
        }
        .serviceType {
            background: #ffa800;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0, rgba(255, 168, 0, 0.5) 100%);
            padding: 40px 0;
            .item {
                .txt {
                    padding: .5em 20px .8em;
                    border:none;
                }
            }
        }
        .overall {
            .txt {
                padding: 60px 10px 0px;
                h4 {
                    font-size: 18px;
                }
            }
            .reminder {
                height: 170px;
            }
        }
    }
}
