footer {
    display: block;
    background-color: #844e22;
    color: #ddd;
    padding: 20px 0 10px;
    h4 {
        color: #ddd;
        letter-spacing: 0.05em;
        font-weight: 100;
        margin-bottom: 5px;
    }
    h6 {
        color: #ddd;
        font-size: 16px;
        letter-spacing: 0.05em;
        font-weight: 100;
        margin-bottom: 5px;
    }
    p,
    a {
        letter-spacing: 0.03em;
        line-height: 1.4;
        color: #ddd;
        font-weight: 100;
        font-size: 14px;
    }
    a{
        cursor: pointer;
    }
    .contactus {
        img {
            width: 14px;
            position: relative;
            top: 2px;
        }
        .fb {
            &:hover {
                color: $orange;
            }
        }
    }
    .info {
        .fa {
            width: 14px;
            text-align: center;
        }
    }
    .copyright p {
        text-align: center;
        font-size: 8px;
    }
}

//桌機
@include respones(lg) {
    footer {
        .followus {
            .fa {
                margin-bottom: 15px;
            }
        }
    }
}

//平板
@include respones(sm) {
    footer {
        .contactus {
            margin-bottom: 20px;
        }
        .info {
            margin-bottom: 20px;
        }
        .map {
            margin-bottom: 20px;
        }
        .followus {
            margin-bottom: 20px;
            div {
                display: inline-block;
            }
            .fa {
                margin: 0 15px;
            }
        }
    }
}

//手機
@include respones(xs) {
    footer {
        .contactus {
            margin-bottom: 20px;
        }
        .info {
            margin-bottom: 20px;
        }
        .map {
            margin-bottom: 20px;
        }
        .followus {
            margin-bottom: 20px;
            div {
                display: inline-block;
            }
            .fa {
                margin: 0 15px;
            }
        }
    }
}
