@import "lg";
@import "sm";
@import "xs";

.indexindex{
	//三個尺寸共用的寫在這
	height: 100vh;
	background-image: url(../images/indexbackImg3.jpg);
	background-size: cover;
	background-position: 50% 50%;
	.logo{
		position: absolute;
		bottom: 0;
		margin: 20px;
		span{
			color: #fff;
			font-weight: 900;
			font-size: 40px;
			font-family: "arial";
			text-shadow: 1px 1px 2px rgba(175,88,31,0.75);
		}
	}
	.IndexText{
		width: auto;
		height: auto;
		text-align: center;
		display: block;
		position: relative;
		top: 40%;
		color: #fff;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
		.zone{
			display: inline-block;
			position: relative;
			margin:0 50px;
			width: 200px;
			height: 200px;
			cursor: pointer;
			transition:.5s;
			.theText{
				transition:.5s;
				position: relative;
				z-index: 2;
			}
		}
		.frontZone{
			animation:upup 2s infinite linear;
			&:hover{
				animation-play-state: paused;
				}
		}
		.backZone{
			animation:upup 2s -1s infinite linear;
			&:hover{
				animation-play-state: paused;
				}
		}
		@keyframes upup{
			  0%{top:10px;}
			 50%{top: 50px;}
			100%{top: 10px;}
		}
		.zone:before{
			content: '';
			display: block;
			width: 75%;
			height: 75%;
			border: 5px double #ccc;
			border-radius: 25px;
			transform: rotate(90deg);
			position: absolute;
			top: -30px;
			left: 20px;
			transition:.5s;
		}
		.frontZone:before{animation:box 2s infinite linear;}
		.backZone:before{animation:box 2s -1s infinite linear;}
		@keyframes box{
			0%{transform: rotate(90deg);}
			20%{border-radius: 20px;}
			50%{border-bottom-right-radius: 80px;
				transform: rotate(45deg);}
			80%{border-radius: 20px;}
			100%{transform: rotate(0deg);}
		}
		.frontZone:hover:before{
			animation-play-state: paused;
			opacity: 0;
		}
		.backZone:hover:before{
			animation-play-state: paused;
			opacity: 0;
		}
		.zone:after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 5px;
			top: -50px;
			background-image: url(../images/printbackground.png);
			opacity: 0;
			transition:1s;
		}
		.zone:hover:after{opacity: 1;}

	}//IndexText

}