@import "lg";
@import "sm";
@import "xs";

#competeBody{
        background-color: #f9f7e8;   
    }
.compete{
	//三個尺寸共用的寫在這
    
    .banner{
        height: 250px;
        width: 100%;
        position: relative;
        text-align:center;
        border-bottom:1px dotted $deep-orange;
        .txt{
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            color:#a91e2d;
            font-weight: bolder;
            .txt1{
            font-size: 55px;
            display: inline-block;
        }
            .txt2{
                display: inline-block;
                font-size: 25px;
                position: relative;
                width: 30px;

                .txtUp{
                    position: absolute;
                    bottom: 15px;   
                }
                .txtDown{
                    position: absolute;
                    bottom: -9px; 
                }
            }
            .txt3{
                display: inline-block; 
                position: relative;
                width: 150px;      
                .txtUp{
                    position: absolute;
                    font-size: 30px;
                    bottom: 10px;
                    left: -3px;
                }
                .txtDown{
                    position: absolute;
                    font-size: 20px;
                    bottom: -8px;
                    left: -2px;
                }
                .heartWrap{
                    width: 50px;
                    height: 40px;
                    position: absolute;
                    left: 90px;
                    bottom: 18px;
                    transform: rotate(40deg);
                    img{
                    width: 100%;
                    animation: heartbeat .5s infinite alternate;                   
                    }
                }
                
            }
            .img1{
                display: inline-block;
                width: 300px;
                vertical-align: bottom;
                img{
                    width: 100%;
                }
            }
        }
        
    }
    .container{
        max-width: 1170px;
    }
    .competeForm{
        text-align: center;
        .txt{
            padding: 10px 0 5px 0;
            font-size: $fz-h4;
        }
        .formDiv {
            display: inline-block;
            margin: auto;
            text-align: left;
            background-color: #fff;
            padding: 15px;
            .formGroup {
                border-bottom: 1px dotted $brown;
                margin: 5px 0;
                min-height: 40px;
            }
            .labelClass {
                font-weight: bold;
                display: inline-block;
                width: 64px;
            }
            input {
                height: 34px;
                padding: 3px 3px;
                letter-spacing: 1px;
                border: 1px solid rgba(119, 71, 32, .8);
                border-radius: 4px;
                float: right;
            }
            .sex{
                margin-top: 5px;
                margin-left: 5px;
            }
            select{
                float: right;
            }
            option {
                font-size: $fz-content;
            }
            span{
                float: right;
            }
            .genderInput {
                margin-left: 5px;
            }
            .genderInput input {
                margin-right: 10px;
                width: auto;
                height: auto;
                cursor: pointer;
            }
            .showImage {
                text-align: center;
                display: inline-block;
                position: relative;
                top: 5px;
                vertical-align: middle;
                margin: 5px auto;
                // overflow: hidden;
                img {
                    margin-top: -13px;
                    width: 40px;
                    border-radius: 50%;
                }
            }
            .inputImg {
                border: none;
                width: 78px;
            }
            .linktochange {
                padding: 5px 0;
                color: $deep-orange;
                cursor: pointer;
                &:hover {
                    color: $brown;
                }
                .fa {
                    margin-right: 5px;
                }
            }
            .btnDiv {
                text-align: center;
                position: relative;
                height: 40px;
            }
            .inputBtn {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                margin: 10px auto;
                width: 120px;
                border: 1px solid transparent;
                background-color: $deep-orange;
                color: #fff;
                cursor: pointer;
                letter-spacing: 2px;
                transition: box-shadow .4s ease;
                font-size:16px; 
                &:hover {
                    box-shadow: 1px 1px 5px #555;
                    background-color: $brown;
                }
            }
        }
    }
    @keyframes heartbeat{
        0% { transform: scale(1.2);
             }
        50% { transform: scale(1.4);
            }
        100% { transform: scale(1.1);
            }
        }      
}